Repository nicholasgriffintn/ai-platform: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typescript-check

prettier:
  name: prettier
  entry: pnpm format
  language: system
  pass_filenames: false

typescript-check:
  name: typescript-check
  entry: pnpm typecheck
  language: system
  pass_filenames: false

docs(verification): record the delegation handle, handoff and agent process checks
  .agents/verification/pending/2026-09-08-antigravity-review.md
  .agents/verification/pending/2026-09-08-background-service.md
  .agents/verification/pending/2026-09-08-delegate-parent-handles.md
  .agents/verification/pending/2026-09-08-desktop-agent-processes.md
  .agents/verification/pending/2026-09-08-machine-handoffs.md
  .agents/verification/pending/2026-09-08-review-and-local-commit.md
Due: prettier

docs(verification): record delegation routing checks
  .agents/verification/pending/2026-09-08-delegation-routing.md
Due: prettier

fix(delegations): expire only a delegation that is still live
  apps/api/src/repositories/DelegationRepository.ts
  apps/api/src/repositories/__test__/DelegationRepository.test.ts
  apps/api/src/services/tasks/handlers/DelegationExpiryHandler.ts
Due: prettier, typescript-check

fix(mobile): restore the conversation client stub after handoffs landed
  apps/mobile/ios/PolychatTests/TestSupport.swift
Due: none

fix(handoffs): refuse a decision the machine no longer owns
  apps/api/src/repositories/HandoffRepository.ts
  apps/api/src/repositories/__test__/HandoffRepository.test.ts
  apps/api/src/services/handoffs/index.ts
Due: prettier, typescript-check

fix: rename vars
  .github/workflows/release.yml
Due: prettier

fix: set onboardinseen for e2e
  apps/app/tests/e2e/features/model-sources.spec.ts
  apps/app/tests/e2e/fixtures/persona-provisioning.ts
  apps/app/tests/e2e/runtime/server.mjs
Due: prettier, typescript-check

fix(pets): show Pip to signed-out users
  .agents/verification/pending/2026-09-08-signed-out-pip.md
  packages/library-react/src/hooks/usePets.test.tsx
  packages/library-react/src/hooks/usePets.ts
Due: prettier, typescript-check

fix: model selector
  packages/component-conversation/src/Thread/ChatInput/ModelSelector/ModelSelectorView.tsx
  packages/component-conversation/src/Thread/ChatInput/ModelSelector/useModelSelectorLayout.ts
  packages/component-models/src/Selector/ModelSelectorPanel.tsx
  packages/component-models/src/Selector/ModelTierPicker.test.tsx
  packages/component-models/src/Selector/ModelTierPicker.tsx
  packages/component-models/src/Selector/RuntimeRail.tsx
  packages/component-models/src/lib/event-target.ts
  packages/library-react/src/chat/useModelRuntimeOptions.test.ts
  packages/library-react/src/chat/useModelRuntimeOptions.ts
  packages/library-react/src/chat/useModelSelection.ts
  packages/library-react/src/chat/useModels.test.tsx
  packages/library-react/src/chat/useModels.ts
  packages/library-react/src/lib/model-runtime-options.ts
Due: prettier, typescript-check

fix: moving retention toggles
  apps/app/src/components/Downloads/DownloadsPage.tsx
  packages/component-conversation/src/Thread/ChatInput/index.tsx
  packages/component-conversation/src/Thread/index.tsx
  packages/component-conversation/src/WelcomeScreen.tsx
  packages/component-models/src/Selector/ModelSelectorPanel.tsx
  packages/component-models/src/Selector/RetentionRow.tsx
  packages/component-models/src/index.ts
  packages/component-shell/src/Header/ConversationProductHeader.tsx
  packages/component-shell/src/Header/ConversationRetentionControl.tsx
  packages/component-shell/src/Home/HomeConversationThread.tsx
  packages/component-ui/src/PetSprite.tsx
  packages/library-react/src/chat/useConversationRetention.ts
  packages/library-react/src/chat/useModelSelection.ts
  packages/library-react/src/index.tsx
  packages/library-react/src/lib/chat-welcome.ts
  packages/schemas/src/pets.ts
Due: prettier, typescript-check

fix: remove ai slop
  apps/api/src/index.ts
  packages/component-account/src/Runtimes/RuntimeSettings.tsx
  packages/component-conversation/src/Message/ChatMessageView.tsx
  packages/component-conversation/src/Message/MessageActions.tsx
  packages/component-conversation/src/Thread/MessageList.tsx
Due: prettier, typescript-check

chore: update docs
  .agents/verification/2026-09-08-local-evidence.md
  .agents/verification/pending/2026-09-06-image-studio-and-patterns.md
  .agents/verification/pending/2026-09-06-model-tier-lineup.md
  .agents/verification/pending/2026-09-06-models-page-single-structure.md
  .agents/verification/pending/2026-09-06-one-shell-and-poly.md
  .agents/verification/pending/2026-09-06-public-apps-catalogue.md
  .agents/verification/pending/2026-09-06-teammates-replace-agents.md
  apps/app/tests/e2e/features/discover.spec.ts
  apps/app/tests/e2e/features/models-page.spec.ts
  apps/app/tests/e2e/features/public-catalogues.spec.ts
  apps/app/tests/e2e/features/work.spec.ts
Due: prettier, typescript-check

chore(wip): more automated validation
  .agents/verification/2026-09-08-local-evidence.md
  .agents/verification/pending/2026-09-06-models-page-single-structure.md
  apps/app/tests/e2e/features/chat.spec.ts
  apps/app/tests/e2e/features/model-selection.spec.ts
  apps/app/tests/e2e/features/models-page.spec.ts
  apps/app/tests/e2e/features/sandbox-layout.spec.ts
  apps/app/tests/e2e/page-objects/HomePage.ts
  packages/component-shell/src/Home/HomePage.tsx
  packages/component-ui/src/Pet/petSheets.test.ts
  packages/component-ui/src/Pet/petSheets.ts
  packages/component-ui/src/PetPreview.tsx
  packages/component-ui/src/pets/wisp.png
  packages/schemas/src/pets.test.ts
  packages/schemas/src/pets.ts
Due: prettier, typescript-check

chore: remove rouge export
  apps/api/src/index.ts
Due: prettier, typescript-check

fix(sync): publish the surfaces that stood their polling down
  .agents/skills/polychat-setup/references/architecture/decisions/0041-carry-live-updates-on-one-per-user-socket.md
  .agents/verification/pending/2026-09-08-live-device-sync.md
  apps/api/src/lib/context/serviceContext.ts
  apps/api/src/repositories/MessageRepository.ts
  apps/api/src/repositories/ProjectTaskRepository.ts
  apps/api/src/services/chat-runs/lifecycle.ts
  apps/api/src/services/completions/deleteChatCompletion.ts
  apps/api/src/services/completions/updateChatCompletion.ts
  apps/api/src/services/delegations/run.ts
  apps/api/src/services/machines/index.ts
  apps/api/src/services/sync/__test__/coordinator.test.ts
  apps/api/src/services/sync/audience.ts
  apps/api/src/services/sync/conversation-events.ts
  apps/api/src/services/sync/coordinator/object.ts
  apps/api/src/services/sync/publish.ts
  packages/library-client/src/sync/syncStore.ts
  packages/library-react/src/AppInitializer.test.tsx
  packages/library-react/src/chat/useChatRunReplay.ts
  packages/library-react/src/chat/useGoal.ts
  packages/library-react/src/chat/useMachines.ts
  packages/library-react/src/chat/useModels.test.tsx
  packages/library-react/src/chat/useUsage.ts
  packages/library-react/src/hooks/useCanvas.ts
  packages/library-react/src/hooks/useDelegations.ts
  packages/library-react/src/hooks/useProjectTasks.ts
  packages/library-react/src/hooks/useProjectWorkbenchPreview.ts
  packages/library-react/src/hooks/useProjectWorkbenchRuns.ts
  packages/library-react/src/hooks/useReplicate.ts
  packages/library-react/src/hooks/useResearchStatus.ts
  packages/library-react/src/hooks/useTasks.ts
  packages/library-react/src/hooks/useTraining.ts
  packages/library-react/src/sync/bindings.test.ts
  packages/library-react/src/sync/bindings.ts
  packages/library-react/src/sync/live-or-poll.ts
  packages/library-react/src/sync/useDeviceSync.ts
  packages/schemas/src/device-sync.ts
Due: prettier, typescript-check

feat(agents): add the agent session protocol layer and Codex adapter
  apps/desktop/src-tauri/src/agents.rs
  apps/desktop/src-tauri/src/agents/process.rs
  apps/desktop/src-tauri/src/agents/session.rs
  apps/desktop/src-tauri/src/main.rs
  packages/library-chat/src/agents/codex-adapter.ts
  packages/library-chat/src/agents/jsonrpc.ts
  packages/library-chat/src/index.ts
  packages/schemas/src/agent-sessions.ts
  packages/schemas/src/codex-protocol.test.ts
  packages/schemas/src/codex-protocol.ts
  packages/schemas/src/index.ts
  packages/schemas/src/reasoning.ts
Due: prettier, typescript-check

feat(agents): run Codex as a resumable session with honest permissions
  apps/desktop/src-tauri/src/agents/session.rs
  apps/desktop/src-tauri/src/main.rs
  apps/desktop/src-tauri/src/store.rs
  apps/desktop/src/lib/desktop-backend.ts
  packages/library-chat/src/agents/codex-adapter.ts
  packages/library-chat/src/desktop-backend.ts
  packages/library-chat/src/index.ts
  packages/library-react/src/chat/agent-run.test.ts
  packages/library-react/src/chat/agent-run.ts
  packages/library-react/src/chat/agent-session-host.ts
  packages/library-react/src/chat/agent-session-run.ts
  packages/library-react/src/chat/useStreamingResponse.ts
  packages/library-react/src/lib/testing/desktop-backend.ts
  packages/schemas/src/agent-catalogue.ts
  packages/schemas/src/providers.test.ts
  packages/schemas/src/providers.ts
  packages/schemas/src/sandbox-constants.ts
Due: prettier, typescript-check

feat(agents): answer agent approvals from Polychat
  .agents/skills/polychat-setup/references/architecture/decisions.md
  .agents/skills/polychat-setup/references/architecture/decisions/0042-an-agent-session-is-a-long-lived-handle.md
  .agents/verification/pending/2026-09-08-codex-runs-as-a-resumable-session.md
  apps/app/tests/e2e/runtime/meta-model.mjs
  packages/component-content/src/AgentApprovalCard.tsx
  packages/component-content/src/index.ts
  packages/component-conversation/src/Thread/AgentApprovalDock.test.tsx
  packages/component-conversation/src/Thread/AgentApprovalDock.tsx
  packages/component-conversation/src/Thread/index.tsx
  packages/library-client/src/agentApprovalStore.ts
  packages/library-client/src/index.ts
  packages/library-react/src/chat/agent-session-run.test.ts
  packages/library-react/src/chat/agent-session-run.ts
  packages/library-react/src/chat/useStreamingResponse.ts
  packages/schemas/src/codex-protocol.test.ts
  packages/schemas/src/codex-protocol.ts
  packages/schemas/src/providers.test.ts
Due: prettier, typescript-check

fix: issues with sandbox
  .agents/verification/pending/2026-09-09-project-sandbox-demo.md
  apps/api/src/lib/chat/agent/__test__/agent-loop.test.ts
  apps/api/src/lib/chat/agent/agent-loop.ts
Due: prettier, typescript-check

fix: sandbox views
  apps/app/tests/e2e/features/zz-visual-audit.spec.ts
  packages/component-content/src/RunEvidence/DiffHunkView.tsx
  packages/component-content/src/RunEvidence/RunChangesView.tsx
  packages/component-content/src/RunEvidence/RunFilesView.tsx
Due: prettier, typescript-check

fix: update tests
  packages/library-react/test/package-exports.test.mjs
  packages/library-react/vitest.config.ts
  packages/library-realtime/test/package-exports.test.mjs
Due: prettier, typescript-check

chore: optimising
  .agents/skills/polychat-setup/references/architecture/context.md
  .agents/skills/polychat-setup/references/architecture/decisions/0022-meter-vendor-units-and-settle-once.md
  .agents/skills/polychat-setup/references/operations/loop-cost-controls.md
  apps/api/src/lib/database/client.ts
  apps/api/src/lib/usage/__test__/ledger.test.ts
  apps/api/src/lib/usage/infraUsage.ts
  apps/api/src/lib/usage/ledger.ts
  apps/api/src/middleware/infraMetering.ts
  apps/api/src/repositories/index.ts
  apps/api/src/services/completions/getChatCompletion.ts
  apps/app/package.json
  apps/app/vite.config.ts
  apps/app/workers/browser-only-stub.ts
Due: prettier, typescript-check

chore: optimising
  .agents/skills/polychat-setup/references/architecture/decisions/0041-carry-live-updates-on-one-per-user-socket.md
  .agents/verification/pending/2026-09-09-api-hot-path-cost.md
  apps/api/src/lib/chat/core/ChatOrchestrator.ts
  apps/api/src/lib/conversationManager.ts
  apps/api/src/lib/providers/models/index.ts
  apps/api/src/lib/usage/__test__/ledger.test.ts
  apps/api/src/lib/usage/credits.ts
  apps/api/src/lib/usage/ledger.ts
  apps/api/src/lib/usage/reservations.ts
  apps/api/src/repositories/TaskRepository.ts
  apps/api/src/repositories/__test__/TaskRepository.test.ts
  apps/api/src/services/apps/sandbox/dispatch.ts
  apps/api/src/services/apps/sandbox/usage.ts
  apps/api/src/services/chat-runs/reservation-maintenance.ts
  apps/api/src/services/completions/conversationGoal.ts
  apps/api/src/services/functions/goal.ts
  apps/api/src/services/goals/GoalService.ts
  apps/api/src/services/goals/__test__/GoalService.test.ts
  apps/api/src/services/goals/createGoalService.ts
  apps/api/src/services/project-tasks/index.ts
  apps/api/src/services/project-tasks/runner.ts
  apps/api/src/services/realtime/sessionUsage.ts
  apps/api/src/services/tasks/ScheduleExecutor.ts
  apps/api/src/services/tasks/__test__/ScheduleExecutor.test.ts
  apps/api/src/services/tasks/handlers/RealtimeReconciliationHandler.ts
  apps/api/src/services/tasks/handlers/UsageRollupHandler.ts
  apps/api/src/services/tasks/scheduledTasks.ts
  apps/api/wrangler.jsonc.example
  packages/component-navigation/src/Conversations/ConversationStorageNotice.tsx
  packages/library-chat/src/conversation-storage-policy.test.ts
  packages/library-chat/src/conversation-storage-policy.ts
  packages/library-react/src/chat/useConversationRetention.ts
  packages/library-react/src/chat/useConversationStorage.ts
  packages/library-react/src/chat/useModels.ts
  packages/library-react/src/hooks/useAuth.test.tsx
  packages/library-react/src/hooks/useAuth.ts
  packages/library-react/src/hooks/useSkills.ts
  packages/library-react/src/hooks/useSources.ts
  packages/library-react/src/sync/live-or-poll.ts
  packages/schemas/src/conversation-storage.ts
Due: prettier, typescript-check

chore: sign builds
  .agents/skills/polychat-setup/references/operations/releases.md
Due: prettier

chore: sign builds
  .github/workflows/desktop-build.yml
Due: prettier

chore: fix errors
  apps/api/src/lib/providers/models/index.ts
Due: prettier, typescript-check

fix(sync): release polled topics and invalidate audiences on membership changes
  apps/api/src/services/sync/audience.ts
  apps/api/src/services/sync/conversation-events.ts
  apps/api/src/services/sync/coordinator/object.ts
  apps/api/src/services/sync/publish.ts
  apps/api/src/services/workspaces/index.ts
  packages/library-client/src/sync/live-topics.ts
  packages/library-client/src/sync/socket.ts
  packages/library-client/src/sync/syncStore.ts
  packages/library-react/src/sync/useDeviceSync.ts
Due: prettier, typescript-check

fix(delegations): revoke parent handles when a delegation settles
  apps/api/src/repositories/DelegationRepository.ts
  apps/api/src/repositories/__test__/DelegationRepository.test.ts
  apps/api/src/services/delegations/cancel-tree.ts
  apps/api/src/services/delegations/message.ts
  apps/api/src/services/delegations/run.ts
  apps/api/src/services/delegations/settle.ts
  apps/api/src/services/functions/delegate.ts
  apps/api/src/services/tasks/handlers/DelegationExpiryHandler.ts
  apps/api/src/utils/conversation-handles.ts
  packages/schemas/src/delegations.ts
Due: prettier, typescript-check

fix(sandbox): allow cancelling an inspection window and share the shell operator check
  apps/api/src/services/apps/sandbox/__test__/runs.test.ts
  apps/api/src/services/apps/sandbox/run-coordinator/object.ts
  apps/api/src/services/apps/sandbox/runs.ts
  apps/sandbox-worker/src/lib/commands.ts
  apps/sandbox-worker/src/lib/environment-setup.ts
  apps/sandbox-worker/src/lib/feature-implementation/quality-gate.ts
  apps/sandbox-worker/src/lib/service-supervisor.ts
  apps/sandbox-worker/src/tasks/runners/feature-implementation.ts
  packages/schemas/src/sandbox-command.ts
Due: prettier, typescript-check

fix(desktop): drop dead agent sessions and stop them on exit
  apps/desktop/src-tauri/src/agents/process.rs
  apps/desktop/src-tauri/src/agents/runner.rs
  apps/desktop/src-tauri/src/agents/session.rs
  apps/desktop/src-tauri/src/main.rs
  apps/desktop/src-tauri/src/secrets.rs
  packages/library-react/src/chat/agent-session-host.ts
Due: prettier, typescript-check

fix(models): reveal deprecated agent models and dismiss stale quote prompts
  packages/component-conversation/src/Message/MessageSelectionQuote.tsx
  packages/component-models/src/Selector/ModelsList.tsx
  packages/library-react/src/chat/useWebLLMModels.ts
  packages/utility-core/src/modelGrouping.test.ts
  packages/utility-core/src/modelGrouping.ts
Due: prettier, typescript-check

docs(verification): record review follow-up checks
  .agents/verification/pending/2026-09-09-review-follow-ups.md
Due: prettier

feat(sync): stamp mutations with the originating device so it skips its own echo
  apps/api/src/lib/context/serviceContext.ts
  apps/api/src/services/chat-runs/lifecycle.ts
  apps/api/src/services/sync/conversation-events.ts
  apps/api/src/services/sync/publish.ts
  packages/library-client/src/utils/headers.ts
  packages/schemas/src/device-sync.ts
Due: prettier, typescript-check

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.(yaml|yml)$, \.(md|markdown|mdown)$, \.css$, \.scss$
  typescript-check: any of: \.(ts|mts|cts)$, \.tsx$
