Repository nicholasgriffintn/ai-platform: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typescript-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: pnpm format
        language: system
        types_or: [javascript, jsx, ts, tsx, json, yaml, markdown, css, scss]
        pass_filenames: false
      - id: typescript-check
        name: typescript-check
        entry: pnpm typecheck
        language: system
        types_or: [ts, tsx]
        pass_filenames: false
  - repo: local
    hooks:
      - id: trufflehog
        name: TruffleHog
        description: Detect secrets in your data.
        entry: bash -c 'docker run -v "$(pwd):/workdir" --rm us-docker.pkg.dev/thog-artifacts/public/scanner:latest git main HEAD /workdir'
        language: system
        stages: ["pre-commit", "pre-push"]

fix: various fixes
  apps/api/.dev.vars.example
  apps/api/src/routes/apps/sandbox.ts
  apps/api/src/routes/sandbox.ts
  apps/api/src/services/functions/__test__/sandbox.test.ts
  apps/api/src/services/functions/sandbox.ts
  apps/api/src/services/github/__test__/manage-connections.test.ts
  apps/api/src/services/github/api-client.ts
  apps/api/src/services/github/app-jwt.ts
  apps/api/src/services/github/connection-parser.ts
  apps/api/src/services/github/manage-connections.ts
  apps/api/src/services/sandbox/__test__/worker.test.ts
  apps/api/src/services/sandbox/worker.ts
  apps/api/src/utils/errors.ts
  apps/app/src/lib/api/sandbox.ts
  apps/app/src/pages/apps/sandbox/[connectionId].tsx
  apps/app/src/pages/apps/sandbox/index.tsx
  apps/sandbox-worker/.dev.vars.example
  apps/sandbox-worker/src/lib/__test__/polychat-client.test.ts
  apps/sandbox-worker/src/lib/polychat-client.ts
  apps/sandbox-worker/src/tasks/feature-implementation.ts
  apps/sandbox-worker/worker-configuration.d.ts
  apps/sandbox-worker/wrangler.json
Due: prettier, typescript-check

chore: refactoring
  apps/api/src/constants/app.ts
  apps/api/src/routes/apps/sandbox.ts
  apps/api/src/utils/streaming.ts
  apps/app/src/pages/apps/sandbox/[connectionId].tsx
  apps/app/src/pages/apps/sandbox/index.tsx
  apps/app/src/pages/apps/sandbox/utils.ts
  apps/sandbox-worker/src/index.ts
Due: prettier, typescript-check

fix: issues
  apps/api/src/routes/apps/sandbox.ts
  apps/sandbox-worker/src/tasks/feature-implementation.ts
Due: prettier, typescript-check

chore: update lock
  pnpm-lock.yaml
Due: prettier

chore: update config
  apps/api/wrangler.jsonc.example
  apps/app/wrangler.jsonc
  apps/metrics/wrangler.json
  apps/sandbox-worker/wrangler.json
Due: prettier

chore: update example
  apps/api/wrangler.jsonc.example
Due: none

chore: update empty state
  apps/app/src/pages/apps/sandbox/index.tsx
Due: prettier, typescript-check

chore: update docs
  README.md
  apps/sandbox-worker/README.md
Due: prettier

chore: documenting api and refactoring
  apps/api/src/openapi/content/apiDescription.ts
  apps/api/src/routes/apps/sandbox.ts
  apps/api/src/services/apps/sandbox/__test__/execute-stream.test.ts
  apps/api/src/services/apps/sandbox/execute-stream.ts
Due: prettier, typescript-check

chore: remove duplicate licenses
  apps/api/LICENSE
  apps/sandbox-worker/LICENSE
Due: none

feat(wip): extending the implementation to be agentic
  apps/api/src/routes/apps/sandbox.ts
  apps/api/src/services/apps/sandbox/__test__/run-data.test.ts
  apps/api/src/services/apps/sandbox/execute-stream.ts
  apps/api/src/services/apps/sandbox/run-data.ts
  apps/app/src/components/Models/SandboxAddGitHubConnection.tsx
  apps/app/src/lib/api/sandbox.ts
  apps/app/src/lib/sandbox/__test__/repositories.test.ts
  apps/app/src/lib/sandbox/__test__/sse.test.ts
  apps/app/src/lib/sandbox/repositories.ts
  apps/app/src/lib/sandbox/sse.ts
  apps/app/src/pages/apps/sandbox/[connectionId].tsx
  apps/app/src/pages/apps/sandbox/utils.ts
  apps/app/src/types/sandbox.ts
  apps/sandbox-worker/README.md
  apps/sandbox-worker/src/lib/__test__/errors.test.ts
  apps/sandbox-worker/src/lib/__test__/feature-context.test.ts
  apps/sandbox-worker/src/lib/__test__/polychat-client.test.ts
  apps/sandbox-worker/src/lib/errors.ts
  apps/sandbox-worker/src/lib/feature-implementation/agent-loop.ts
  apps/sandbox-worker/src/lib/feature-implementation/constants.ts
  apps/sandbox-worker/src/lib/feature-implementation/context.ts
  apps/sandbox-worker/src/lib/feature-implementation/decision.ts
  apps/sandbox-worker/src/lib/feature-implementation/prompts.ts
  apps/sandbox-worker/src/lib/feature-implementation/types.ts
  apps/sandbox-worker/src/lib/feature-implementation/utils.ts
  apps/sandbox-worker/src/lib/polychat-client.ts
  apps/sandbox-worker/src/tasks/feature-implementation.ts
  apps/sandbox-worker/src/types.ts
Due: prettier, typescript-check

feat(wip): adding ralph like quality gates and tracking
  apps/sandbox-worker/README.md
  apps/sandbox-worker/src/lib/__test__/feature-context.test.ts
  apps/sandbox-worker/src/lib/__test__/feature-quality-gate.test.ts
  apps/sandbox-worker/src/lib/__test__/feature-story-tracker.test.ts
  apps/sandbox-worker/src/lib/feature-implementation/context.ts
  apps/sandbox-worker/src/lib/feature-implementation/prompts.ts
  apps/sandbox-worker/src/lib/feature-implementation/quality-gate.ts
  apps/sandbox-worker/src/lib/feature-implementation/story-tracker.ts
  apps/sandbox-worker/src/lib/feature-implementation/types.ts
  apps/sandbox-worker/src/lib/feature-implementation/utils.ts
  apps/sandbox-worker/src/tasks/feature-implementation.ts
Due: prettier, typescript-check

chore: implementing cancellation and refactoring
  apps/api/src/lib/chat/core/ChatOrchestrator.ts
  apps/api/src/routes/apps/sandbox.ts
  apps/api/src/routes/sandbox.ts
  apps/api/src/routes/user/index.ts
  apps/api/src/services/apps/sandbox/__test__/execute-stream.test.ts
  apps/api/src/services/apps/sandbox/__test__/run-control.test.ts
  apps/api/src/services/apps/sandbox/__test__/run-data.test.ts
  apps/api/src/services/apps/sandbox/execute-stream.ts
  apps/api/src/services/apps/sandbox/run-control.ts
  apps/api/src/services/apps/sandbox/run-data.ts
  apps/api/src/services/apps/sandbox/run-state.ts
  apps/api/src/services/apps/sandbox/runs.ts
  apps/api/src/services/apps/sandbox/stream-proxy.ts
  apps/api/src/services/functions/api_call.ts
  apps/api/src/services/github/connections.ts
  apps/api/src/services/sandbox/worker.ts
  apps/api/src/utils/abort.ts
  apps/app/src/hooks/useSandbox.ts
  apps/app/src/lib/api/sandbox.ts
  apps/app/src/pages/apps/sandbox/[connectionId].tsx
  apps/app/src/pages/apps/sandbox/utils.ts
  apps/app/src/types/sandbox.ts
  apps/sandbox-worker/README.md
  apps/sandbox-worker/package.json
  apps/sandbox-worker/src/index.ts
  apps/sandbox-worker/src/lib/__test__/errors.test.ts
  apps/sandbox-worker/src/lib/cancellation.ts
  apps/sandbox-worker/src/lib/errors.ts
  apps/sandbox-worker/src/lib/feature-implementation/agent-loop.ts
  apps/sandbox-worker/src/lib/feature-implementation/quality-gate.ts
  apps/sandbox-worker/src/lib/feature-implementation/types.ts
  apps/sandbox-worker/src/tasks/feature-implementation.ts
  apps/sandbox-worker/src/types.ts
  packages/schemas/AGENTS.md
  packages/schemas/src/index.ts
  packages/schemas/src/sandbox.ts
  pnpm-lock.yaml
Due: prettier, typescript-check

chore: enhancing prompts
  apps/api/src/routes/sandbox.ts
  apps/api/src/services/apps/sandbox/__test__/execute-stream.test.ts
  apps/api/src/services/apps/sandbox/__test__/run-data.test.ts
  apps/api/src/services/apps/sandbox/execute-stream.ts
  apps/api/src/services/apps/sandbox/run-data.ts
  apps/api/src/services/apps/sandbox/stream-proxy.ts
  apps/api/src/services/functions/sandbox.ts
  apps/api/src/services/sandbox/worker.ts
  apps/app/src/lib/sandbox/prompt-strategies.ts
  apps/app/src/pages/apps/sandbox/[connectionId].tsx
  apps/app/src/pages/apps/sandbox/utils.ts
  apps/app/src/types/sandbox.ts
  apps/sandbox-worker/README.md
  apps/sandbox-worker/src/lib/__test__/feature-prompt-strategy.test.ts
  apps/sandbox-worker/src/lib/feature-implementation/agent-loop.ts
  apps/sandbox-worker/src/lib/feature-implementation/prompt-strategy.ts
  apps/sandbox-worker/src/lib/feature-implementation/prompts.ts
  apps/sandbox-worker/src/lib/feature-implementation/types.ts
  apps/sandbox-worker/src/tasks/feature-implementation.ts
  packages/schemas/src/sandbox.ts
Due: prettier, typescript-check

feat: add timeouts, pause/resume and rate limits
  apps/api/src/routes/apps/sandbox.ts
  apps/api/src/routes/sandbox.ts
  apps/api/src/services/apps/sandbox/__test__/execute-stream.test.ts
  apps/api/src/services/apps/sandbox/__test__/run-control.test.ts
  apps/api/src/services/apps/sandbox/__test__/run-data.test.ts
  apps/api/src/services/apps/sandbox/__test__/run-limits.test.ts
  apps/api/src/services/apps/sandbox/__test__/runs.test.ts
  apps/api/src/services/apps/sandbox/config.ts
  apps/api/src/services/apps/sandbox/execute-stream.ts
  apps/api/src/services/apps/sandbox/run-control.ts
  apps/api/src/services/apps/sandbox/run-data.ts
  apps/api/src/services/apps/sandbox/run-limits.ts
  apps/api/src/services/apps/sandbox/run-state.ts
  apps/api/src/services/apps/sandbox/runs.ts
  apps/api/src/services/apps/sandbox/stream-proxy.ts
  apps/api/src/services/sandbox/worker.ts
  apps/api/src/types/shared.ts
  apps/app/src/hooks/useSandbox.ts
  apps/app/src/lib/api/sandbox.ts
  apps/app/src/pages/apps/sandbox/[connectionId].tsx
  apps/app/src/pages/apps/sandbox/utils.ts
  apps/app/src/types/sandbox.ts
  apps/sandbox-worker/README.md
  apps/sandbox-worker/src/index.ts
  apps/sandbox-worker/src/lib/__test__/errors.test.ts
  apps/sandbox-worker/src/lib/__test__/execution-control.test.ts
  apps/sandbox-worker/src/lib/errors.ts
  apps/sandbox-worker/src/lib/execution-control.ts
  apps/sandbox-worker/src/lib/feature-implementation/agent-loop.ts
  apps/sandbox-worker/src/lib/feature-implementation/quality-gate.ts
  apps/sandbox-worker/src/lib/feature-implementation/types.ts
  apps/sandbox-worker/src/lib/run-control-client.ts
  apps/sandbox-worker/src/tasks/feature-implementation.ts
  packages/schemas/src/sandbox.ts
Due: prettier, typescript-check

feat: adding more task types
  apps/api/src/lib/__test__/github.test.ts
  apps/api/src/lib/github.ts
  apps/api/src/lib/github/api-client.ts
  apps/api/src/lib/github/app-jwt.ts
  apps/api/src/lib/github/command.ts
  apps/api/src/lib/github/comments.ts
  apps/api/src/lib/github/installation-token.ts
  apps/api/src/lib/github/payload.ts
  apps/api/src/lib/github/signature.ts
  apps/api/src/routes/webhooks/github-task-execution.ts
  apps/api/src/services/apps/sandbox/config.ts
  apps/api/src/services/apps/sandbox/runs.ts
  apps/app/src/pages/apps/sandbox/[connectionId].tsx
  apps/app/src/types/sandbox.ts
  apps/sandbox-worker/src/index.ts
  apps/sandbox-worker/src/lib/__test__/commands.test.ts
  apps/sandbox-worker/src/lib/commands.ts
  apps/sandbox-worker/src/lib/feature-implementation/prompt-strategy.ts
  apps/sandbox-worker/src/tasks/__test__/task-profile.test.ts
  apps/sandbox-worker/src/tasks/feature-implementation.ts
  apps/sandbox-worker/src/tasks/index.ts
  apps/sandbox-worker/src/tasks/task-profile.ts
  packages/schemas/src/sandbox.ts
Due: prettier, typescript-check

chore: completing task types
  apps/api/src/lib/__test__/github.test.ts
  apps/api/src/routes/webhooks/github.ts
  apps/api/src/services/dynamic-apps/config.ts
  apps/api/src/services/functions/__test__/sandbox.test.ts
  apps/api/src/services/functions/index.ts
  apps/api/src/services/functions/sandbox.ts
  apps/api/src/utils/functions.ts
  apps/app/src/pages/apps/sandbox/[connectionId].tsx
  apps/sandbox-worker/README.md
  apps/sandbox-worker/src/lib/__test__/commands.test.ts
  apps/sandbox-worker/src/lib/__test__/feature-prompt-strategy.test.ts
  apps/sandbox-worker/src/lib/commands.ts
  apps/sandbox-worker/src/lib/feature-implementation/agent-loop.ts
  apps/sandbox-worker/src/lib/feature-implementation/prompt-strategy.ts
  apps/sandbox-worker/src/lib/feature-implementation/types.ts
  apps/sandbox-worker/src/tasks/__test__/task-profile.test.ts
  apps/sandbox-worker/src/tasks/feature-implementation.ts
  apps/sandbox-worker/src/tasks/task-profile.ts
  packages/schemas/src/sandbox.ts
Due: prettier, typescript-check

chore: removing old agents files
  AGENTS.md
  packages/schemas/AGENTS.md
Due: prettier

chore: handle errors better
  apps/api/src/middleware/auth.ts
  apps/api/src/services/auth/__test__/jwt.test.ts
  apps/api/src/services/auth/jwt.ts
  apps/api/src/services/github/__test__/connection-crypto.test.ts
  apps/api/src/services/github/__test__/connections.test.ts
  apps/api/src/services/github/connection-crypto.ts
  apps/sandbox-worker/src/tasks/feature-implementation.ts
Due: prettier, typescript-check

chore: update ids
  apps/sandbox-worker/src/tasks/feature-implementation.ts
Due: prettier, typescript-check

chore: add models.dev sync script (#1586)
  apps/api/package.json
  apps/api/scripts/sync-models-dev.mjs
Due: prettier

chore: update types
  apps/api/src/routes/tasks.ts
  apps/app/package.json
  apps/app/src/hooks/useTasks.ts
  packages/schemas/src/tasks.ts
Due: prettier, typescript-check

chore: remove old command
  .claude/commands/start.md
Due: prettier

chore: update renovate
  .github/renovate.json
Due: prettier

feat: extend markdown conversion with new options
  apps/api/src/lib/__test__/documentConverter.test.ts
  apps/api/src/lib/documentConverter.ts
  apps/api/src/routes/uploads.ts
  apps/api/src/services/uploads/__test__/index.test.ts
  apps/api/src/services/uploads/index.ts
  apps/app/src/components/ConversationThread/ChatInput/index.tsx
  apps/app/src/lib/api/api-service.ts
  apps/app/src/lib/api/services/upload-service.ts
  packages/schemas/src/uploads.ts
Due: prettier, typescript-check

fix: model selector styles
  apps/app/src/components/ConversationThread/ChatInput/ModelSelector/ModelOption.tsx
  apps/app/src/components/ConversationThread/ChatInput/ModelSelector/ModelsList.tsx
  apps/app/src/components/ConversationThread/ChatInput/ModelSelector/index.tsx
  apps/app/src/components/ConversationThread/ChatInput/index.tsx
Due: prettier, typescript-check

fix: frontend document file detection
  apps/app/src/components/ConversationThread/ChatInput/index.tsx
Due: prettier, typescript-check

fix: add max height to selector
  apps/app/src/components/ConversationThread/ChatInput/ModelSelector/ModelsList.tsx
  apps/app/src/components/ConversationThread/ChatInput/ModelSelector/index.tsx
Due: prettier, typescript-check

fix: ios height issue
  apps/app/src/components/ConversationThread/ChatInput/ModelSelector/ModelsList.tsx
  apps/app/src/components/ConversationThread/ChatInput/ModelSelector/index.tsx
Due: prettier, typescript-check

fix: attempt 2 at ios height fix
  apps/app/src/components/ConversationThread/ChatInput/ModelSelector/ModelsList.tsx
  apps/app/src/components/ConversationThread/ChatInput/ModelSelector/index.tsx
Due: prettier, typescript-check

chore: update types
  apps/metrics/src/components/chart.tsx
  apps/metrics/src/components/ui/chart.tsx
Due: prettier, typescript-check

fix: iOS issue
  apps/app/src/components/ConversationThread/ChatInput/ModelSelector/index.tsx
Due: prettier, typescript-check

fix: mobile scroll issue
  apps/app/src/components/ConversationThread/ChatInput/ModelSelector/ModelsList.tsx
  apps/app/src/components/ConversationThread/ChatInput/ModelSelector/index.tsx
Due: prettier, typescript-check

feat: adding new workers ai models
  apps/api/src/data-model/models/workersai.ts
Due: prettier, typescript-check

chore: update allowed domains
  apps/api/src/constants/app.ts
  apps/api/src/index.ts
Due: prettier, typescript-check

fix: providers tab
  apps/app/src/components/Profile/Tabs/ProfileProvidersTab.tsx
  apps/app/src/hooks/useUser.ts
  apps/app/src/lib/api/api-service.ts
  apps/app/src/lib/api/services/user-service.ts
Due: prettier, typescript-check

fix: add node compat
  apps/app/wrangler.jsonc
Due: none
