Repository nicholasgriffintn/ai-platform: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typescript-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: pnpm format
        language: system
        types_or: [javascript, jsx, ts, tsx, json, yaml, markdown, css, scss]
        pass_filenames: false
      - id: typescript-check
        name: typescript-check
        entry: pnpm typecheck
        language: system
        types_or: [ts, tsx]
        pass_filenames: false
  - repo: local
    hooks:
      - id: trufflehog
        name: TruffleHog
        description: Detect secrets in your data.
        entry: bash -c 'docker run -v "$(pwd):/workdir" --rm us-docker.pkg.dev/thog-artifacts/public/scanner:latest git main HEAD /workdir'
        language: system
        stages: ["pre-commit", "pre-push"]

chore: address todos
  apps/api/src/lib/providers/capabilities/search/__test__/perplexity.test.ts
  apps/api/src/lib/providers/capabilities/search/providers/PerplexityProvider.ts
  apps/api/src/repositories/SharedAgentRepository.ts
  apps/api/src/routes/audio.ts
  apps/api/src/services/apps/retrieval/web-search.ts
  apps/api/src/services/apps/tutor.ts
  apps/api/src/types/search.ts
Due: prettier, typescript-check

fix: actually unshare apps
  apps/api/src/repositories/AppDataRepository.ts
  apps/api/src/routes/apps/shared.ts
  apps/api/src/services/apps/__test__/shared.test.ts
  apps/api/src/services/apps/shared.ts
  apps/app/src/components/Apps/Notes/MediaGenerationModal.tsx
  apps/app/src/components/ui/ShareButton.tsx
  apps/app/src/hooks/useAppsSharing.ts
Due: prettier, typescript-check

feat: re working the mobile app to use proper apis and display correctly
  apps/api/src/routes/auth/index.ts
  apps/api/src/routes/auth/magic-link.ts
  apps/api/src/services/auth/__test__/mobile.test.ts
  apps/api/src/services/auth/github.ts
  apps/api/src/services/auth/mobile.ts
  apps/api/src/services/auth/sessions.ts
  apps/mobile/ios/Polychat.xcodeproj/project.xcworkspace/xcuserdata/nicholasgriffin.xcuserdatad/UserInterfaceState.xcuserstate
  apps/mobile/ios/Polychat/Assets.xcassets/Logo.imageset/Contents.json
  apps/mobile/ios/Polychat/Assets.xcassets/Logo.imageset/logo.jpg
  apps/mobile/ios/Polychat/ContentView.swift
  apps/mobile/ios/Polychat/Info.plist
  apps/mobile/ios/Polychat/Models/ChatModels.swift
  apps/mobile/ios/Polychat/Models/ComposerAttachment.swift
  apps/mobile/ios/Polychat/Polychat.entitlements
  apps/mobile/ios/Polychat/PolychatApp.swift
  apps/mobile/ios/Polychat/Services/APIClient.swift
  apps/mobile/ios/Polychat/Services/AuthenticationManager.swift
  apps/mobile/ios/Polychat/Services/ConversationManager.swift
  apps/mobile/ios/Polychat/Services/KeychainTokenStore.swift
  apps/mobile/ios/Polychat/Services/ModelsStore.swift
  apps/mobile/ios/Polychat/Services/ToolsStore.swift
  apps/mobile/ios/Polychat/Services/VoiceRecorder.swift
  apps/mobile/ios/Polychat/Views/AttachmentPickerView.swift
  apps/mobile/ios/Polychat/Views/ChatSettingsView.swift
  apps/mobile/ios/Polychat/Views/ChatView.swift
  apps/mobile/ios/Polychat/Views/ConversationListView.swift
  apps/mobile/ios/Polychat/Views/ImagePickerView.swift
  apps/mobile/ios/Polychat/Views/LoginView.swift
  apps/mobile/ios/Polychat/Views/PolychatLogoView.swift
  apps/mobile/ios/Polychat/Views/SettingsView.swift
  package.json
  packages/schemas/src/auth.ts
  packages/schemas/src/magicLink.ts
Due: prettier, typescript-check

chore: various tweaks
  apps/api/migrations/0044_mobile_auth_exchange_codes.sql
  apps/api/src/lib/database/schema.ts
  apps/api/src/middleware/__test__/auth.test.ts
  apps/api/src/repositories/SessionRepository.ts
  apps/api/src/repositories/__test__/SessionRepository.test.ts
  apps/api/src/services/auth/__test__/sessions.test.ts
  apps/api/src/services/auth/sessions.ts
  apps/mobile/ios/Polychat.xcodeproj/project.xcworkspace/xcuserdata/nicholasgriffin.xcuserdatad/UserInterfaceState.xcuserstate
  apps/mobile/ios/Polychat/ContentView.swift
  apps/mobile/ios/Polychat/Models/ComposerAttachment.swift
  apps/mobile/ios/Polychat/Services/APIClient.swift
  apps/mobile/ios/Polychat/Services/ConversationManager.swift
  apps/mobile/ios/Polychat/Services/ModelsStore.swift
  apps/mobile/ios/Polychat/Utilities/AppDateParser.swift
  apps/mobile/ios/Polychat/Views/ChatView.swift
  apps/mobile/ios/Polychat/Views/ConversationListView.swift
  apps/mobile/ios/Polychat/Views/ModelSelectorView.swift
Due: prettier, typescript-check

feat: add sign in with apple
  apps/api/src/lib/auth/appleIdentityToken.ts
  apps/api/src/repositories/UserRepository.ts
  apps/api/src/routes/auth/index.ts
  apps/api/src/services/auth/__test__/apple.test.ts
  apps/api/src/services/auth/__test__/user.test.ts
  apps/api/src/services/auth/apple.ts
  apps/api/src/services/auth/user.ts
  apps/api/src/types/shared.ts
  apps/api/src/utils/buffers.ts
  apps/api/src/utils/crypto.ts
  apps/api/src/utils/jwt.ts
  apps/api/src/utils/objects.ts
  apps/api/src/utils/strings.ts
  apps/api/wrangler.jsonc.example
  apps/app/src/components/Auth/SignInWithAppleWebButton.tsx
  apps/app/src/components/Home/HomeHeader.tsx
  apps/app/src/components/Home/HomePage.tsx
  apps/app/src/components/Models/LoginModal.tsx
  apps/app/src/constants.ts
  apps/app/src/lib/api/auth-service.ts
  apps/app/src/lib/auth/apple-sign-in.ts
  apps/app/src/lib/crypto/nonce.ts
  apps/app/src/lib/crypto/sha256.ts
  apps/app/src/lib/dom/customEvent.ts
  apps/app/src/lib/dom/loadExternalScript.ts
  apps/app/src/lib/objects.ts
  apps/app/src/lib/strings/joinNonEmptyStrings.ts
  apps/mobile/ios/Polychat.xcodeproj/project.xcworkspace/xcuserdata/nicholasgriffin.xcuserdatad/UserInterfaceState.xcuserstate
  apps/mobile/ios/Polychat/Assets.xcassets/AppIcon.appiconset/Contents.json
  apps/mobile/ios/Polychat/Models/ChatModels.swift
  apps/mobile/ios/Polychat/Polychat.entitlements
  apps/mobile/ios/Polychat/Services/APIClient.swift
  apps/mobile/ios/Polychat/Services/AuthenticationManager.swift
  apps/mobile/ios/Polychat/Utilities/SecureNonceGenerator.swift
  apps/mobile/ios/Polychat/Views/LoginView.swift
  apps/mobile/ios/Polychat/Views/WebView.swift
  packages/schemas/src/auth.ts
Due: prettier, typescript-check

chore: adjustments
  apps/app/src/components/Home/HomeHeader.tsx
  apps/app/src/components/Home/HomePage.tsx
  apps/mobile/ios/Polychat.xcodeproj/project.xcworkspace/xcuserdata/nicholasgriffin.xcuserdatad/UserInterfaceState.xcuserstate
  apps/mobile/ios/Polychat/ContentView.swift
  apps/mobile/ios/Polychat/Views/ConversationListSections.swift
  apps/mobile/ios/Polychat/Views/ConversationListView.swift
  apps/mobile/ios/Polychat/Views/LoginView.swift
Due: prettier, typescript-check

fix: revert silliness
  apps/app/src/components/Home/HomePage.tsx
Due: prettier, typescript-check

fix: catch malformed jwts
  apps/api/src/services/auth/__test__/apple.test.ts
  apps/api/src/utils/jwt.ts
Due: prettier, typescript-check

feat: add sign in with apple (#1782)
  apps/api/src/lib/auth/appleIdentityToken.ts
  apps/api/src/repositories/UserRepository.ts
  apps/api/src/routes/auth/index.ts
  apps/api/src/services/auth/__test__/apple.test.ts
  apps/api/src/services/auth/__test__/user.test.ts
  apps/api/src/services/auth/apple.ts
  apps/api/src/services/auth/user.ts
  apps/api/src/types/shared.ts
  apps/api/src/utils/buffers.ts
  apps/api/src/utils/crypto.ts
  apps/api/src/utils/jwt.ts
  apps/api/src/utils/objects.ts
  apps/api/src/utils/strings.ts
  apps/api/wrangler.jsonc.example
  apps/app/src/components/Auth/SignInWithAppleWebButton.tsx
  apps/app/src/components/Models/LoginModal.tsx
  apps/app/src/constants.ts
  apps/app/src/lib/api/auth-service.ts
  apps/app/src/lib/auth/apple-sign-in.ts
  apps/app/src/lib/crypto/nonce.ts
  apps/app/src/lib/crypto/sha256.ts
  apps/app/src/lib/dom/customEvent.ts
  apps/app/src/lib/dom/loadExternalScript.ts
  apps/app/src/lib/objects.ts
  apps/app/src/lib/strings/joinNonEmptyStrings.ts
  apps/mobile/ios/Polychat.xcodeproj/project.xcworkspace/xcuserdata/nicholasgriffin.xcuserdatad/UserInterfaceState.xcuserstate
  apps/mobile/ios/Polychat/Assets.xcassets/AppIcon.appiconset/Contents.json
  apps/mobile/ios/Polychat/ContentView.swift
  apps/mobile/ios/Polychat/Models/ChatModels.swift
  apps/mobile/ios/Polychat/Polychat.entitlements
  apps/mobile/ios/Polychat/Services/APIClient.swift
  apps/mobile/ios/Polychat/Services/AuthenticationManager.swift
  apps/mobile/ios/Polychat/Utilities/SecureNonceGenerator.swift
  apps/mobile/ios/Polychat/Views/ConversationListSections.swift
  apps/mobile/ios/Polychat/Views/ConversationListView.swift
  apps/mobile/ios/Polychat/Views/LoginView.swift
  apps/mobile/ios/Polychat/Views/WebView.swift
  packages/schemas/src/auth.ts
Due: prettier, typescript-check

chore: remove ott env vars
  .gitignore
  apps/api/src/lib/auth/appleIdentityToken.ts
  apps/api/src/services/auth/__test__/apple.test.ts
  apps/api/src/types/shared.ts
  apps/mobile/ios/Polychat.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  apps/mobile/ios/Polychat.xcodeproj/project.xcworkspace/xcuserdata/nicholasgriffin.xcuserdatad/UserInterfaceState.xcuserstate
Due: prettier, typescript-check

chore: improve ios app layout and design
  apps/mobile/ios/Polychat/Assets.xcassets/Logo.imageset/Contents.json
  apps/mobile/ios/Polychat/Assets.xcassets/Logo.imageset/logo.jpg
  apps/mobile/ios/Polychat/Assets.xcassets/Logo.imageset/logo.svg
  apps/mobile/ios/Polychat/DesignSystem/Colors.swift
  apps/mobile/ios/Polychat/Models/ChatModels.swift
  apps/mobile/ios/Polychat/Services/APIClient.swift
  apps/mobile/ios/Polychat/Services/ConversationManager.swift
  apps/mobile/ios/Polychat/Services/ModelsStore.swift
  apps/mobile/ios/Polychat/Services/VoiceRecorder.swift
  apps/mobile/ios/Polychat/Views/ChatView.swift
  apps/mobile/ios/Polychat/Views/ConversationListView.swift
  apps/mobile/ios/Polychat/Views/LoginView.swift
  apps/mobile/ios/Polychat/Views/ModelIconView.swift
  apps/mobile/ios/Polychat/Views/ModelSelectorView.swift
  apps/mobile/ios/Polychat/Views/PolychatLogoView.swift
  apps/mobile/ios/Polychat/Views/SettingsView.swift
  apps/mobile/ios/Polychat/Views/WebView.swift
Due: prettier

chore: update test
  apps/api/src/services/auth/__test__/apple.test.ts
Due: prettier, typescript-check

chore: slight adjustmnets
  apps/api/wrangler.jsonc.example
  apps/app/src/constants.ts
  apps/mobile/ios/Polychat/Views/SettingsView.swift
Due: prettier, typescript-check

chore: update gitignore
  .gitignore
  apps/mobile/ios/Polychat.xcodeproj/project.pbxproj
Due: none

chore: various improvements to rendering
  apps/mobile/ios/Polychat/Models/ChatModels.swift
  apps/mobile/ios/Polychat/Services/APIClient.swift
  apps/mobile/ios/Polychat/Services/ConversationManager.swift
  apps/mobile/ios/Polychat/Views/ChatView.swift
Due: none

fix: render from stream
  apps/mobile/ios/Polychat/Models/ChatModels.swift
  apps/mobile/ios/Polychat/Services/APIClient.swift
  apps/mobile/ios/Polychat/Services/ConversationManager.swift
Due: none

fix: various adjustments
  apps/mobile/ios/Polychat/Services/APIClient.swift
  apps/mobile/ios/Polychat/Views/ChatView.swift
Due: none

chore: adjust hook
  .pre-commit-config.yaml
  scripts/trufflehog-pre-commit.sh
Due: prettier

chore: refactoring
  apps/mobile/ios/Polychat/Models/APIModels.swift
  apps/mobile/ios/Polychat/Models/Artifact.swift
  apps/mobile/ios/Polychat/Models/AuthModels.swift
  apps/mobile/ios/Polychat/Models/ChatMessage.swift
  apps/mobile/ios/Polychat/Models/ChatModels.swift
  apps/mobile/ios/Polychat/Models/ChatSettings.swift
  apps/mobile/ios/Polychat/Models/MessageContent.swift
  apps/mobile/ios/Polychat/Views/Chat/MarkdownText.swift
  apps/mobile/ios/Polychat/Views/Chat/MessageBubble.swift
  apps/mobile/ios/Polychat/Views/Chat/MessageContentRendering.swift
  apps/mobile/ios/Polychat/Views/Chat/MessageInputView.swift
  apps/mobile/ios/Polychat/Views/Chat/MessageListView.swift
  apps/mobile/ios/Polychat/Views/ChatView.swift
Due: none

chore: refactor
  apps/mobile/ios/Polychat/Models/ChatModels.swift
  apps/mobile/ios/Polychat/Views/Chat/MarkdownText.swift
  apps/mobile/ios/Polychat/Views/Chat/MessageAttachmentViews.swift
  apps/mobile/ios/Polychat/Views/Chat/MessageContentRendering.swift
  apps/mobile/ios/Polychat/Views/Chat/MessageFormatting.swift
  apps/mobile/ios/Polychat/Views/Chat/MessageMetadataViews.swift
  apps/mobile/ios/Polychat/Views/Chat/MessagePartViews.swift
Due: none

chore: update git
  .gitignore
  apps/mobile/ios/Polychat.xcodeproj/project.pbxproj
  apps/mobile/ios/Polychat.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Due: none

chore: display a spinner while loading
  apps/mobile/ios/Polychat/ContentView.swift
  apps/mobile/ios/Polychat/Services/ConversationManager.swift
  apps/mobile/ios/Polychat/Views/Chat/MessageListView.swift
  apps/mobile/ios/Polychat/Views/ChatView.swift
Due: none

chore: tweaks
  apps/mobile/ios/Polychat/ContentView.swift
  apps/mobile/ios/Polychat/Views/ChatView.swift
  apps/mobile/ios/Polychat/Views/ConversationListView.swift
Due: none

chore: adjusting api usage
  apps/mobile/ios/Polychat/Models/APIModels.swift
  apps/mobile/ios/Polychat/Services/APIClient.swift
  apps/mobile/ios/Polychat/Services/VoiceRecorder.swift
  apps/mobile/ios/Polychat/Utilities/MultipartFormData.swift
  apps/mobile/ios/Polychat/Views/ChatView.swift
  package.json
  scripts/xcodebuild-mobile.sh
Due: prettier

chore: refactoring
  apps/mobile/ios/Polychat/Models/APIModels.swift
  apps/mobile/ios/Polychat/Models/ChatMessage.swift
  apps/mobile/ios/Polychat/Models/ComposerAttachment.swift
  apps/mobile/ios/Polychat/Models/Conversation.swift
  apps/mobile/ios/Polychat/Models/MessageContent.swift
  apps/mobile/ios/Polychat/PolychatApp.swift
  apps/mobile/ios/Polychat/Services/APIClient.swift
  apps/mobile/ios/Polychat/Services/APIClientProtocols.swift
  apps/mobile/ios/Polychat/Services/ConversationManager.swift
  apps/mobile/ios/Polychat/Services/ModelsStore.swift
  apps/mobile/ios/Polychat/Services/ToolsStore.swift
  apps/mobile/ios/Polychat/Utilities/AttachmentFileClassifier.swift
  apps/mobile/ios/Polychat/Utilities/ChatStreamEventParser.swift
  apps/mobile/ios/Polychat/Utilities/FlexibleDecoding.swift
  apps/mobile/ios/Polychat/Utilities/InlineArtifactParser.swift
  apps/mobile/ios/Polychat/Utilities/MarkdownParsing.swift
  apps/mobile/ios/Polychat/Utilities/ModelSearch.swift
  apps/mobile/ios/Polychat/Utilities/XMLAttributeReader.swift
  apps/mobile/ios/Polychat/Views/AttachmentPickerView.swift
  apps/mobile/ios/Polychat/Views/Chat/MarkdownText.swift
  apps/mobile/ios/Polychat/Views/Chat/MessageContentRendering.swift
  apps/mobile/ios/Polychat/Views/Chat/MessageFormatting.swift
  apps/mobile/ios/Polychat/Views/ConversationListSections.swift
  apps/mobile/ios/Polychat/Views/ModelSelectorView.swift
  apps/mobile/ios/PolychatTests/ModelTests.swift
  apps/mobile/ios/PolychatTests/PolychatTests.swift
  apps/mobile/ios/PolychatTests/ServiceStoreTests.swift
  apps/mobile/ios/PolychatTests/TestSupport.swift
  apps/mobile/ios/PolychatTests/UtilityTests.swift
  apps/mobile/ios/PolychatTests/ViewPresentationTests.swift
  apps/mobile/ios/PolychatUITests/PolychatUITests.swift
  apps/mobile/ios/PolychatUITests/PolychatUITestsLaunchTests.swift
  apps/mobile/ios/PolychatUITests/UITestSupport.swift
Due: none

fix: response streaming
  apps/mobile/ios/Polychat/Services/APIClient.swift
  apps/mobile/ios/Polychat/Services/URLSessionStreamClient.swift
  apps/mobile/ios/Polychat/Utilities/ChatStreamEventParser.swift
Due: none

chore: adjust parsing
  apps/mobile/ios/Polychat/Models/APIModels.swift
  apps/mobile/ios/Polychat/Models/ChatRequestMessage.swift
  apps/mobile/ios/PolychatTests/ModelTests.swift
Due: none

fix: make it possible to close the keyboard
  apps/mobile/ios/Polychat/Views/Chat/MessageInputView.swift
  apps/mobile/ios/Polychat/Views/Chat/MessageListView.swift
  apps/mobile/ios/Polychat/Views/ChatView.swift
Due: none

feat: use openai responses by default and upgrade usage
  apps/api/src/data-model/models/__test__/openai.test.ts
  apps/api/src/data-model/models/openai.ts
  apps/api/src/lib/formatter/__test__/messages.test.ts
  apps/api/src/lib/formatter/messages.ts
  apps/api/src/lib/providers/capabilities/chat/providers/__test__/openai.test.ts
  apps/api/src/lib/providers/capabilities/chat/providers/openai.ts
  apps/api/src/lib/providers/models/__test__/utils.test.ts
  apps/api/src/lib/providers/models/reasoning.ts
  apps/api/src/lib/providers/models/utils.ts
  apps/api/src/lib/providers/utils/openaiResponses.ts
  apps/api/src/types/models.ts
  apps/api/src/types/shared.ts
  apps/api/src/utils/__test__/options.test.ts
  apps/api/src/utils/__test__/parameters.test.ts
  apps/api/src/utils/enabledTools.ts
  apps/api/src/utils/objects.ts
  apps/api/src/utils/options.ts
  apps/api/src/utils/parameters.ts
  apps/app/src/lib/__test__/reasoning.test.ts
  apps/app/src/lib/reasoning.ts
  apps/app/src/types/chat.ts
  apps/app/src/types/models.ts
  packages/schemas/src/chat.ts
  packages/schemas/src/index.ts
  packages/schemas/src/reasoning.ts
  packages/schemas/src/sandbox.ts
Due: prettier, typescript-check

feat: updating anthropic tools
  apps/api/src/data-model/models/anthropic.ts
  apps/api/src/lib/providers/capabilities/chat/providers/__test__/anthropic.test.ts
  apps/api/src/lib/providers/capabilities/chat/providers/anthropic.ts
  apps/api/src/lib/providers/utils/anthropicTools.ts
Due: prettier, typescript-check

feat: upgrading google ai models
  apps/api/src/data-model/models/__test__/google-ai-studio.test.ts
  apps/api/src/data-model/models/google-ai-studio.ts
  apps/api/src/lib/formatter/__test__/messages.test.ts
  apps/api/src/lib/formatter/__test__/responses.test.ts
  apps/api/src/lib/formatter/messages.ts
  apps/api/src/lib/formatter/responses.ts
  apps/api/src/lib/providers/capabilities/chat/providers/__test__/googlestudio.test.ts
  apps/api/src/lib/providers/capabilities/chat/providers/googlestudio.ts
  apps/api/src/lib/providers/capabilities/realtime/__test__/google.test.ts
  apps/api/src/lib/providers/capabilities/realtime/providers/GoogleRealtimeProvider.ts
  apps/api/src/lib/providers/capabilities/realtime/providers/index.ts
  apps/api/src/lib/providers/registry/registrations/realtime.ts
  apps/api/src/lib/providers/utils/googleStudio.ts
  apps/api/src/types/models.ts
  apps/api/src/utils/__test__/base64.test.ts
  apps/api/src/utils/__test__/mime.test.ts
  apps/api/src/utils/base64.ts
  apps/api/src/utils/mime.ts
Due: prettier, typescript-check

feat: add python exec
  apps/sandbox-worker/README.md
  apps/sandbox-worker/src/lib/__test__/feature-agent-loop.test.ts
  apps/sandbox-worker/src/lib/__test__/feature-decision.test.ts
  apps/sandbox-worker/src/lib/__test__/feature-prompt-strategy.test.ts
  apps/sandbox-worker/src/lib/feature-implementation/agent-loop-actions.ts
  apps/sandbox-worker/src/lib/feature-implementation/prompts.ts
  packages/agent-core/src/__test__/decision.test.ts
  packages/agent-core/src/decision.ts
  packages/agent-core/src/index.ts
  packages/agent-core/src/types.ts
Due: prettier, typescript-check

chore: update react compiler and sentry
  apps/api/package.json
  apps/api/src/index.ts
  apps/api/src/services/tasks/ScheduleExecutor.ts
  apps/api/src/types/shared.ts
  apps/api/src/utils/__test__/sentry.test.ts
  apps/api/src/utils/sentry.ts
  apps/api/worker-configuration.d.ts
  apps/app/package.json
  apps/app/vite.config.ts
  pnpm-lock.yaml
Due: prettier, typescript-check

chore: tweaking realtime setup
  apps/api/src/lib/providers/capabilities/realtime/__test__/google.test.ts
  apps/api/src/lib/providers/capabilities/realtime/__test__/mistral.test.ts
  apps/api/src/lib/providers/capabilities/realtime/providers/GoogleRealtimeProvider.ts
  apps/api/src/lib/providers/utils/googleStudio.ts
  apps/api/src/services/realtime/__test__/mistral.test.ts
  apps/api/src/services/realtime/mistral.ts
  apps/app/src/components/ConversationThread/ChatInput/ChatInput.test.tsx
  apps/app/src/components/ConversationThread/ChatInput/index.tsx
  apps/app/src/components/Home/HomeConversationThread.tsx
  apps/app/src/components/Home/LiveChatModeControls.test.tsx
  apps/app/src/components/Home/LiveChatModeControls.tsx
Due: prettier, typescript-check

chore: realtime tweaks
  apps/app/public/realtime/pcm16-microphone-processor.js
  apps/app/src/components/Home/HomeConversationThread.tsx
  apps/app/src/components/Home/LiveChatModeControls.test.tsx
  apps/app/src/components/Home/LiveChatModeControls.tsx
  apps/app/src/hooks/__test__/useRealtimeLiveSession.test.tsx
  apps/app/src/hooks/useRealtimeLiveSession.ts
  apps/app/src/lib/__test__/errors.test.ts
  apps/app/src/lib/errors.ts
  apps/app/src/lib/realtime/audio.test.ts
  apps/app/src/lib/realtime/audio.ts
  apps/app/src/lib/realtime/errors.test.ts
  apps/app/src/lib/realtime/errors.ts
  apps/app/src/lib/realtime/messages.test.ts
  apps/app/src/lib/realtime/messages.ts
Due: prettier, typescript-check

fix: various realtime fixes
  apps/api/src/lib/__test__/conversationManager.test.ts
  apps/api/src/lib/chat/messageOrdering.ts
  apps/api/src/lib/conversationManager.ts
  apps/api/src/lib/providers/capabilities/realtime/__test__/openai.test.ts
  apps/api/src/lib/providers/capabilities/realtime/providers/OpenAIRealtimeProvider.ts
  apps/api/src/repositories/MessageRepository.ts
  apps/api/src/repositories/__test__/MessageRepository.test.ts
  apps/api/src/routes/chat.ts
  apps/api/src/services/completions/__test__/updateChatCompletion.test.ts
  apps/api/src/services/completions/updateChatCompletion.ts
  apps/app/src/components/Home/HomeConversationThread.tsx
  apps/app/src/hooks/__test__/useLiveConversationMessages.test.tsx
  apps/app/src/hooks/__test__/useRealtimeLiveSession.test.tsx
  apps/app/src/hooks/useLiveConversationMessages.ts
  apps/app/src/hooks/useRealtimeLiveSession.ts
  apps/app/src/lib/api/api-service.ts
  apps/app/src/lib/api/services/chat-service.test.ts
  apps/app/src/lib/api/services/chat-service.ts
  apps/app/src/lib/messages.ts
  apps/app/src/lib/realtime/messages.test.ts
  apps/app/src/lib/realtime/messages.ts
  packages/schemas/src/chat.ts
  packages/schemas/src/shared.ts
Due: prettier, typescript-check

fix: adjust turn detection
  apps/api/src/lib/providers/capabilities/realtime/__test__/openai.test.ts
  apps/api/src/lib/providers/capabilities/realtime/providers/OpenAIRealtimeProvider.ts
  apps/app/src/hooks/useRealtimeLiveSession.ts
Due: prettier, typescript-check

chore: fixes and adjustments
  apps/app/src/hooks/__test__/useRealtimeLiveSession.test.tsx
  apps/app/src/hooks/useRealtimeLiveSession.ts
  apps/app/src/lib/realtime/index.ts
  apps/app/src/lib/realtime/live-providers.ts
  apps/app/src/lib/realtime/messages.test.ts
  apps/app/src/lib/realtime/messages.ts
  apps/app/src/lib/realtime/webrtc.ts
Due: prettier, typescript-check
