Repository nicholasgriffintn/ai-platform: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typescript-check

prettier:
  name: prettier
  entry: pnpm format
  language: system
  pass_filenames: false

typescript-check:
  name: typescript-check
  entry: pnpm typecheck
  language: system
  pass_filenames: false

ci: use luna for codex reviews
  .github/codex/review.md
  .github/workflows/codex-review.yml
Due: prettier

fix(deps): align wrangler peer version
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

fix(api): gate goal endpoints on run and conversation access
  apps/api/src/services/apps/sandbox/runs.ts
  apps/api/src/services/completions/__test__/conversationGoal.test.ts
  apps/api/src/services/completions/conversationGoal.ts
  apps/api/src/services/conversations/access.ts
Due: prettier, typescript-check

perf(api): drop unused per-conversation message id scan from the list query
  apps/api/src/lib/conversationManager.ts
  apps/api/src/repositories/ConversationRepository.ts
  apps/app/src/lib/api/services/chat-service.test.ts
  apps/app/src/lib/api/services/chat-service.ts
  packages/library-chat/src/conversation-types.ts
Due: prettier, typescript-check

fix(api): block SSRF in generate-from-media outbound fetch
  apps/api/src/services/apps/notes/generate-from-media.ts
  apps/api/src/utils/__test__/outbound-url.test.ts
  apps/api/src/utils/outbound-url.ts
Due: prettier, typescript-check

fix(api): make coordinator queue mutations atomic
  apps/api/src/services/apps/sandbox/run-coordinator/object.ts
  apps/api/src/services/conversations/coordinator/__test__/object.test.ts
  apps/api/src/services/conversations/coordinator/object.ts
Due: prettier, typescript-check

fix(api): scope MCP clients to the request and time out tool calls
  .agents/skills/polychat-setup/references/architecture/context.md
  apps/api/src/lib/chat/core/ChatOrchestrator.ts
  apps/api/src/lib/chat/core/chat-stream.ts
  apps/api/src/lib/chat/core/model-ensemble.ts
  apps/api/src/services/agents/completion-tools.ts
  apps/api/src/services/agents/createAgentCompletion.ts
  apps/api/src/services/agents/mcp-client.ts
  apps/api/src/services/functions/__test__/mcp.test.ts
  apps/api/src/services/functions/mcp.ts
Due: prettier, typescript-check

fix(a11y): focus management, accessible names, contrast and reduced motion
  .agents/skills/polychat-setup/references/architecture/context.md
  apps/app/src/components/ChatSidebar/index.tsx
  apps/app/src/components/ConversationThread/ChatInput/ModelSelector/index.tsx
  apps/app/src/components/Work/WorkSidebar.tsx
  apps/app/src/pages/shared/output.tsx
  packages/component-account/src/AccountSidebarShell.tsx
  packages/component-account/src/Agents/AgentFormModal.tsx
  packages/component-account/src/Agents/TeamCard.tsx
  packages/component-account/src/Connectors/ConnectorAccountsPanel.tsx
  packages/component-account/src/index.test.tsx
  packages/component-capabilities/src/ExperienceGrid.tsx
  packages/component-content/src/Artifacts/ArtifactPanel.tsx
  packages/component-content/src/Response/Views/WeatherView.tsx
  packages/component-content/src/index.test.tsx
  packages/component-content/src/media.tsx
  packages/component-content/src/styles.css
  packages/component-conversation/src/Live/LiveCameraDialog.tsx
  packages/component-experiences/src/content/Articles/ArticleReportGrid.tsx
  packages/component-experiences/src/content/Notes/NoteCardGrid.tsx
  packages/component-experiences/src/content/Notes/NoteMetadata.tsx
  packages/component-experiences/src/music/StrudelPatternGrid.tsx
  packages/component-models/src/Selector/ArtificialAnalysisScorePanel.tsx
  packages/component-models/src/Selector/ModelSelectorTrigger.tsx
  packages/component-navigation/src/Search/SearchDialog.tsx
  packages/component-navigation/src/Sidebar/SidebarNav.tsx
  packages/component-ui/src/SidebarBackdrop.tsx
  packages/component-ui/src/SidebarShell.test.tsx
  packages/component-ui/src/SidebarShell.tsx
  packages/component-ui/src/index.ts
  packages/component-ui/src/styles.css
  packages/component-ui/src/useOverlayDismiss.ts
  packages/component-workspaces/src/OutputCardGrid.tsx
  packages/component-workspaces/src/OutputDetailHeader.tsx
  packages/component-workspaces/src/ProjectConversationList.tsx
  packages/component-workspaces/src/WorkSidebarNav.tsx
Due: prettier, typescript-check

refactor(app): share the artifact panel state machine
  apps/app/src/components/ConversationThread/index.tsx
  apps/app/src/hooks/__test__/useArtifactPanel.test.ts
  apps/app/src/hooks/useArtifactPanel.ts
  apps/app/src/pages/shared/[share_id].tsx
Due: prettier, typescript-check

perf(api): batch sequential D1 round-trips in sources, embeddings, and synthesis scheduling
  apps/api/src/repositories/EmbeddingRepository.ts
  apps/api/src/repositories/SourceRepository.ts
  apps/api/src/repositories/__test__/EmbeddingRepository.test.ts
  apps/api/src/services/apps/embeddings/insert.ts
  apps/api/src/services/sources/__test__/index.test.ts
  apps/api/src/services/sources/index.ts
  apps/api/src/services/tasks/__test__/scheduledTasks.test.ts
  apps/api/src/services/tasks/scheduledTasks.ts
Due: prettier, typescript-check

test(api): cover usage-limit enforcement and two unprotected authorisation branches
  apps/api/src/lib/__test__/usageManager.test.ts
  apps/api/src/repositories/__test__/OAuthStateRepository.test.ts
  apps/api/src/repositories/__test__/WorkspaceRepository.test.ts
Due: prettier, typescript-check

fix(app): replace window.confirm and scope delete state to one connection row
  apps/app/src/components/Profile/Tabs/ProfileSandboxTab.tsx
  packages/component-account/src/Sandbox/SandboxConnectionList.tsx
  packages/component-account/src/index.test.tsx
Due: prettier, typescript-check

fix(api): correct defects found reviewing the undeployed backlog
  .agents/skills/polychat-setup/references/architecture/context.md
  .agents/skills/polychat-setup/references/architecture/decisions.md
  .agents/skills/polychat-setup/references/architecture/decisions/0024-turns-outlive-the-connection.md
  .agents/skills/polychat-setup/references/architecture/decisions/0025-tool-result-presentation-by-shape.md
  .agents/skills/polychat-setup/references/operations/loop-cost-controls.md
  apps/api/migrations/0065_goal.sql
  apps/api/migrations/meta/0065_snapshot.json
  apps/api/src/lib/chat/core/ChatOrchestrator.ts
  apps/api/src/lib/chat/core/__test__/ChatOrchestrator.test.ts
  apps/api/src/lib/chat/core/chat-stream.ts
  apps/api/src/lib/chat/core/model-ensemble.ts
  apps/api/src/lib/database/schema.ts
  apps/api/src/lib/formatter/responses.ts
  apps/api/src/lib/providers/capabilities/messaging/credentials.ts
  apps/api/src/lib/providers/capabilities/messaging/metadata.ts
  apps/api/src/lib/providers/capabilities/messaging/providers/AwsSmsProvider.ts
  apps/api/src/lib/providers/capabilities/messaging/types.ts
  apps/api/src/services/apps/sandbox/run-coordinator/object.ts
  apps/api/src/services/goals/GoalService.ts
  apps/api/src/utils/__test__/finalise-readable-stream.test.ts
  apps/api/src/utils/finalise-readable-stream.ts
Due: prettier, typescript-check

feat(chat): nested conversation filter menu with activity and grouping
  .agents/skills/polychat-setup/references/architecture/context.md
  .changeset/conversation-filter-menu.md
  apps/api/src/lib/conversationManager.ts
  apps/api/src/repositories/ConversationRepository.ts
  apps/api/src/repositories/__test__/ConversationRepository.test.ts
  apps/api/src/routes/chat.ts
  apps/app/src/components/ChatSidebar/index.tsx
  apps/app/src/components/ChatSidebar/navigation.test.tsx
  apps/app/src/hooks/useChat.ts
  apps/app/src/lib/__test__/conversation-groups.test.ts
  apps/app/src/lib/__test__/conversation-list.test.ts
  apps/app/src/lib/api/services/chat-service.test.ts
  apps/app/src/lib/api/services/chat-service.ts
  apps/app/src/lib/conversation-groups.ts
  apps/app/src/state/stores/uiStore.ts
  apps/app/tests/e2e/page-objects/HomePage.ts
  packages/component-navigation/package.json
  packages/component-navigation/src/Conversations/ConversationList.tsx
  packages/component-navigation/src/Conversations/ConversationListControls.tsx
  packages/component-navigation/src/index.test.tsx
  packages/component-ui/src/OptionsMenu.tsx
  packages/component-ui/src/index.ts
  packages/library-chat/src/conversation-types.ts
  packages/library-chat/src/conversations.ts
  packages/library-chat/src/index.ts
  packages/schemas/src/chat.ts
  pnpm-lock.yaml
Due: prettier, typescript-check

refactor(chat): resolve the activity window on the client that owns the calendar
  .agents/skills/polychat-setup/references/architecture/context.md
  .changeset/conversation-filter-menu.md
  apps/api/src/lib/conversationManager.ts
  apps/api/src/repositories/ConversationRepository.ts
  apps/api/src/repositories/__test__/ConversationRepository.test.ts
  apps/api/src/routes/chat.ts
  apps/app/src/lib/__test__/conversation-list.test.ts
  apps/app/src/lib/api/services/chat-service.test.ts
  apps/app/src/lib/api/services/chat-service.ts
  apps/app/src/lib/conversation-groups.ts
  apps/app/src/state/stores/uiStore.ts
  apps/app/tests/e2e/page-objects/HomePage.ts
  packages/component-navigation/src/Conversations/ConversationList.tsx
  packages/component-navigation/src/Conversations/ConversationListControls.tsx
  packages/component-ui/src/OptionsMenu.tsx
  packages/library-chat/src/conversation-types.ts
  packages/library-chat/src/conversations.ts
  packages/schemas/src/chat.ts
Due: prettier, typescript-check

feat(chat): archive or restore every conversation matching the list filters
  .agents/skills/polychat-setup/references/architecture/context.md
  .changeset/conversation-bulk-archive.md
  apps/api/src/lib/conversationManager.ts
  apps/api/src/repositories/ConversationRepository.ts
  apps/api/src/repositories/__test__/ConversationRepository.test.ts
  apps/api/src/routes/chat.ts
  apps/api/src/services/completions/archiveAllChatCompletions.ts
  apps/app/src/components/ChatSidebar/index.tsx
  apps/app/src/components/ChatSidebar/navigation.test.tsx
  apps/app/src/hooks/useChat.ts
  apps/app/src/lib/__test__/conversation-cache.test.ts
  apps/app/src/lib/api/api-service.ts
  apps/app/src/lib/api/services/chat-service.test.ts
  apps/app/src/lib/api/services/chat-service.ts
  apps/app/src/lib/local/local-chat-service.ts
  apps/app/tests/e2e/page-objects/HomePage.ts
  packages/component-navigation/src/Conversations/ConversationListActions.tsx
  packages/component-navigation/src/index.test.tsx
  packages/component-navigation/src/index.ts
  packages/library-chat/src/conversation-types.ts
  packages/library-chat/src/conversations.ts
  packages/library-chat/src/index.ts
  packages/schemas/src/chat.ts
Due: prettier, typescript-check

feat(chat): title conversations as they open
  .agents/skills/polychat-setup/references/architecture/context.md
  apps/api/src/lib/chat/agent/__test__/conversation-title.test.ts
  apps/api/src/lib/chat/agent/agent-loop.ts
  apps/api/src/lib/chat/agent/conversation-title.ts
  apps/api/src/lib/conversation/title-generation.ts
  apps/api/src/lib/conversation/title-source.ts
  apps/api/src/lib/conversationManager.ts
  apps/api/src/lib/github/app-jwt.ts
  apps/api/src/services/completions/generateChatCompletionTitle.ts
  apps/api/src/utils/strings.ts
  apps/app/src/hooks/__test__/useChatManager.test.tsx
  apps/app/src/hooks/useChatManager.ts
  apps/app/src/hooks/useStreamingResponse.ts
  apps/app/src/lib/chat/title-source.ts
  apps/mobile/ios/Polychat/Services/APIClient.swift
  apps/mobile/ios/Polychat/Services/ConversationManager.swift
  apps/mobile/ios/Polychat/Utilities/ChatStreamEventParser.swift
  apps/mobile/ios/PolychatTests/UtilityTests.swift
Due: prettier, typescript-check

fix: allow paused
  apps/app/src/components/ConversationThread/ChatInput/useComposerCommandActions.tsx
  apps/app/src/components/ConversationThread/ChatInput/useComposerCommandController.test.tsx
  apps/app/src/components/ConversationThread/useGoalCommands.ts
  apps/app/src/lib/api/services/chat-service.ts
Due: prettier, typescript-check

style(chat): drop comments from the title path
  apps/api/src/lib/chat/agent/conversation-title.ts
  apps/api/src/lib/conversation/title-source.ts
  apps/api/src/lib/conversationManager.ts
  apps/app/src/lib/chat/title-source.ts
Due: prettier, typescript-check

chore: update test
  packages/library-agent-core/src/__test__/agent-loop.test.ts
Due: prettier, typescript-check

chore: push to a pr instead
  .github/workflows/sync-models-dev.yml
Due: prettier

chore: add better logs
  apps/api/src/lib/providers/lib/fetch.ts
  apps/api/src/utils/__test__/providerErrors.test.ts
  apps/api/src/utils/providerErrors.ts
Due: prettier, typescript-check

feat(work): surface the task board on project and workspace overviews
  apps/app/src/components/Work/ProjectOverview.tsx
  apps/app/src/components/Work/ProjectTasksCard.tsx
  apps/app/src/components/Work/WorkspaceOverview.test.tsx
  apps/app/src/components/Work/WorkspaceOverview.tsx
  packages/component-workspaces/src/ProjectTasksSummary.tsx
  packages/component-workspaces/src/index.ts
Due: prettier, typescript-check

refactor(api): derive the project task row type from the schema
  apps/api/src/lib/database/schema.ts
  apps/api/src/repositories/ProjectTaskRepository.ts
Due: prettier, typescript-check

style: remove comments from locked conversation code
  apps/api/src/lib/chat/core/chat-stream.ts
  apps/api/src/lib/chat/policy/locked-conversation.ts
  apps/api/src/repositories/ConversationLockRepository.ts
  apps/api/src/services/conversations/lock.ts
  apps/api/src/utils/aiGateway.ts
  apps/app/src/components/ConversationThread/useLockedConversationView.ts
  apps/app/src/hooks/useChat.ts
  apps/app/src/hooks/useConversationLock.ts
  apps/app/src/hooks/useConversationStorage.ts
  apps/app/src/hooks/useStreamingResponse.ts
  apps/app/src/lib/api/auth-service.ts
  apps/app/src/lib/api/services/chat-service.ts
  apps/app/src/lib/chat/locked-conversation.ts
  apps/app/src/lib/crypto/bytes.ts
  apps/app/src/lib/crypto/conversation-lock/envelope.ts
  apps/app/src/lib/crypto/conversation-lock/index.ts
  apps/app/src/lib/crypto/conversation-lock/keys.ts
  apps/app/src/lib/crypto/conversation-lock/passkey.ts
  apps/app/src/state/stores/conversationLockStore.ts
  apps/mobile/ios/Polychat/Models/Conversation.swift
  apps/mobile/ios/Polychat/Services/ConversationManager.swift
  apps/mobile/ios/Polychat/Views/LockedConversationView.swift
  packages/component-conversation/src/Lock/LockConversationDialog.tsx
  packages/library-chat/src/conversation-storage-policy.ts
  packages/library-chat/src/locked-conversation-cap.ts
  packages/schemas/src/conversation-lock.ts
Due: prettier, typescript-check

fix(schemas): declare the task transition table instead of asserting it
  packages/schemas/src/project-tasks.ts
Due: prettier, typescript-check

chore: update compat
  apps/api/wrangler.jsonc.example
  apps/app/tests/e2e/runtime/app-wrangler.jsonc
  apps/app/tests/e2e/runtime/server.mjs
  apps/app/tests/e2e/runtime/training-wrangler.jsonc
  apps/app/tests/e2e/runtime/wrangler.jsonc
  apps/app/wrangler.jsonc
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

chore: update vite
  apps/app/package.json
  pnpm-lock.yaml
Due: prettier

fix(work): make flow stage approval policy actually gate tools
  .agents/skills/polychat-setup/references/architecture/context.md
  .agents/skills/polychat-setup/references/architecture/decisions/0026-project-task-boards.md
  .changeset/task-stage-approval-policy.md
  apps/api/src/lib/chat/core/request-context.ts
  apps/api/src/lib/chat/tools/execution.ts
  apps/api/src/services/project-tasks/__test__/project-tasks.test.ts
  apps/api/src/services/project-tasks/flow.ts
  apps/api/src/services/project-tasks/runner.ts
  apps/api/src/types/chat.ts
  packages/library-tool-runtime/src/__test__/tool-runtime.test.ts
  packages/library-tool-runtime/src/permissions.ts
Due: prettier, typescript-check

chore: format wrangler configs for oxfmt 0.64
  apps/app/tests/e2e/runtime/app-wrangler.jsonc
  apps/app/tests/e2e/runtime/training-wrangler.jsonc
  apps/app/tests/e2e/runtime/wrangler.jsonc
  apps/app/wrangler.jsonc
Due: none

feat(work): give a project task the fields a work item needs
  .agents/skills/polychat-setup/references/architecture/context.md
  .changeset/task-work-item-fields.md
  apps/api/migrations/0067_project_task_work_item.sql
  apps/api/migrations/meta/0067_snapshot.json
  apps/api/migrations/meta/_journal.json
  apps/api/src/lib/database/schema.ts
  apps/api/src/repositories/ProjectTaskRepository.ts
  apps/api/src/services/functions/projectTasks.ts
  apps/api/src/services/project-tasks/__test__/project-tasks.test.ts
  apps/api/src/services/project-tasks/flow.ts
  apps/api/src/services/project-tasks/index.ts
  apps/api/src/services/project-tasks/runner.ts
  apps/app/src/components/Work/ProjectTaskBoard.tsx
  apps/app/src/components/Work/ProjectTasksCard.tsx
  apps/app/src/components/Work/useProjectTaskAgents.ts
  packages/component-workspaces/src/CreateTaskDialog.tsx
  packages/schemas/src/project-tasks.ts
Due: prettier, typescript-check

fix(e2e): align the E2E runtime compatibility date with its workerd
  apps/app/tests/e2e/runtime/app-wrangler.jsonc
  apps/app/tests/e2e/runtime/server.mjs
  apps/app/tests/e2e/runtime/training-wrangler.jsonc
  apps/app/tests/e2e/runtime/wrangler.jsonc
Due: prettier

chore: adjusting
  apps/api/migrations/0068_project_task_effort.sql
  apps/api/migrations/meta/0068_snapshot.json
  apps/api/migrations/meta/_journal.json
  apps/api/src/constants/schedules.ts
  apps/api/src/lib/database/schema.ts
  apps/api/src/repositories/ProjectTaskRepository.ts
  apps/api/src/routes/workspaces/index.ts
  apps/api/src/services/project-tasks/__test__/project-tasks.test.ts
  apps/api/src/services/project-tasks/flow.ts
  apps/api/src/services/project-tasks/index.ts
  apps/api/src/services/tasks/QueueExecutor.ts
  apps/app/src/components/Work/ProjectTaskBoard.tsx
  apps/app/src/components/Work/ProjectTaskDetail.tsx
  apps/app/src/components/Work/ProjectTasksCard.tsx
  apps/app/src/components/Work/WorkOverview.tsx
  apps/app/src/components/Work/WorkspaceOverview.tsx
  apps/app/src/components/Work/useProjectTaskAgents.ts
  apps/app/src/hooks/useGoal.ts
  apps/app/src/pages/work/project-task.tsx
  apps/app/src/routes.ts
  packages/component-workspaces/src/CreateTaskDialog.tsx
  packages/component-workspaces/src/TaskBoard.tsx
  packages/component-workspaces/src/TaskDetail.tsx
  packages/component-workspaces/src/index.ts
  packages/schemas/src/project-tasks.ts
Due: prettier, typescript-check

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.(yaml|yml)$, \.(md|markdown|mdown)$, \.css$, \.scss$
  typescript-check: any of: \.(ts|mts|cts)$, \.tsx$
