Repository nicholasgriffintn/ai-platform: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typescript-check

prettier:
  name: prettier
  entry: pnpm format
  language: system
  pass_filenames: false

typescript-check:
  name: typescript-check
  entry: pnpm typecheck
  language: system
  pass_filenames: false

feat: migrate polling patterns to task queue system
  apps/api/src/lib/chat/preparation/RequestPreparer.ts
  apps/api/src/lib/conversationManager.ts
  apps/api/src/routes/apps/retrieval.ts
  apps/api/src/services/apps/replicate/execute.ts
  apps/api/src/services/completions/getChatCompletion.ts
  apps/api/src/services/dynamic-apps/index.ts
  apps/api/src/services/research/task.ts
  apps/api/src/services/tasks/QueueExecutor.ts
  apps/api/src/services/tasks/handlers/AsyncMessagePollingHandler.ts
  apps/api/src/services/tasks/handlers/ReplicatePollingHandler.ts
  apps/api/src/services/tasks/handlers/ResearchPollingHandler.ts
  apps/app/src/hooks/useReplicate.ts
  apps/app/src/hooks/useResearchStatus.ts
  packages/schemas/src/tasks.ts
Due: prettier, typescript-check

chore: format
  apps/api/AGENTS.md
  apps/app/AGENTS.md
  apps/metrics/AGENTS.md
  packages/schemas/AGENTS.md
Due: prettier

chore: move file
  AGENTS.md
  AGENTS_DECISION_MATRIX.md
Due: prettier

Review agents, API, and app files (#1149)
  AGENTS.md
  AGENTS_DECISION_MATRIX.md
  apps/api/AGENTS.md
  apps/app/AGENTS.md
  apps/metrics/AGENTS.md
  apps/mobile/ios/AGENTS.md
  packages/schemas/AGENTS.md
Due: prettier

fix: clean up task queue implementation
  apps/api/src/lib/conversationManager.ts
  apps/api/src/routes/apps/retrieval.ts
  apps/api/src/services/completions/getChatCompletion.ts
  apps/api/src/services/research/task.ts
  apps/api/src/services/tasks/handlers/AsyncMessagePollingHandler.ts
  apps/api/src/services/tasks/handlers/ReplicatePollingHandler.ts
  apps/api/src/services/tasks/handlers/ResearchPollingHandler.ts
  apps/app/src/hooks/useReplicate.ts
  apps/app/src/hooks/useResearchStatus.ts
Due: prettier, typescript-check

refactor: remove old async polling code
  apps/api/src/services/completions/__test__/refreshAsyncMessages.test.ts
  apps/api/src/services/completions/refreshAsyncMessages.ts
Due: prettier, typescript-check

fix: update types
  apps/api/src/lib/database/schema.ts
  apps/api/src/repositories/TaskRepository.ts
  apps/api/src/services/apps/replicate/execute.ts
  apps/api/src/services/tasks/TaskService.ts
  apps/api/src/services/tasks/handlers/ReplicatePollingHandler.ts
  apps/api/src/services/tasks/handlers/ResearchPollingHandler.ts
  apps/app/src/components/Profile/Tabs/ProfileTasksTab.tsx
Due: prettier, typescript-check

fix: add always enabled schedules
  apps/api/src/constants/schedules.ts
  apps/api/src/services/tasks/TaskExecutor.ts
Due: prettier, typescript-check

fix: resolve typecheck errors and add comprehensive handler tests
  apps/api/src/routes/chat.ts
  apps/api/src/services/tasks/handlers/AsyncMessagePollingHandler.ts
  apps/api/src/services/tasks/handlers/ResearchPollingHandler.ts
  apps/api/src/services/tasks/handlers/__test__/AsyncMessagePollingHandler.test.ts
  apps/api/src/services/tasks/handlers/__test__/ReplicatePollingHandler.test.ts
  apps/api/src/services/tasks/handlers/__test__/ResearchPollingHandler.test.ts
Due: prettier, typescript-check

feat: enhance iOS app UI and functionality to match web app
  apps/mobile/ios/AGENTS.md
  apps/mobile/ios/Polychat/DesignSystem/Colors.swift
  apps/mobile/ios/Polychat/Models/ChatModels.swift
  apps/mobile/ios/Polychat/Views/ArtifactsView.swift
  apps/mobile/ios/Polychat/Views/ChatSettingsView.swift
  apps/mobile/ios/Polychat/Views/ChatView.swift
  apps/mobile/ios/Polychat/Views/ConversationListView.swift
  apps/mobile/ios/Polychat/Views/ImagePickerView.swift
  apps/mobile/ios/Polychat/Views/ModelSelectorView.swift
Due: prettier

fix: implement full API integration for conversation persistence
  apps/mobile/ios/Polychat/Models/ChatModels.swift
  apps/mobile/ios/Polychat/Services/APIClient.swift
  apps/mobile/ios/Polychat/Services/ConversationManager.swift
  apps/mobile/ios/Polychat/Views/ConversationListView.swift
Due: none

docs: document API integration and persistence in iOS AGENTS.md
  apps/mobile/ios/AGENTS.md
Due: prettier

fix: handle null returns from safeParseJson and add test timeout
  apps/api/src/lib/modelRouter/promptAnalyser.ts
  apps/api/src/lib/providers/__test__/bedrock.test.ts
  apps/api/src/services/apps/articles/generate-report.ts
  apps/api/src/services/apps/articles/get-details.ts
  apps/api/src/services/apps/articles/get-source-articles.ts
  apps/api/src/services/apps/drawing/get-details.ts
  apps/api/src/services/apps/drawing/list.ts
  apps/api/src/services/apps/notes/list.ts
  apps/api/src/services/apps/shared.ts
Due: prettier, typescript-check

chore: formatting
  apps/api/src/lib/providers/__test__/bedrock.test.ts
  apps/api/src/services/tasks/handlers/ResearchPollingHandler.ts
  apps/api/src/services/tasks/handlers/__test__/ResearchPollingHandler.test.ts
Due: prettier, typescript-check

docs: simplify iOS AGENTS.md to be architectural, not a changelog
  apps/mobile/ios/AGENTS.md
Due: prettier

fix: implement chat settings and multimodal image support
  apps/mobile/ios/Polychat/Models/ChatModels.swift
  apps/mobile/ios/Polychat/Services/APIClient.swift
  apps/mobile/ios/Polychat/Services/ConversationManager.swift
  apps/mobile/ios/Polychat/Views/ChatView.swift
  apps/mobile/ios/Polychat/Views/ConversationListView.swift
Due: none

Improve iOS app visual design (#1153)
  apps/mobile/ios/AGENTS.md
  apps/mobile/ios/Polychat/DesignSystem/Colors.swift
  apps/mobile/ios/Polychat/Models/ChatModels.swift
  apps/mobile/ios/Polychat/Services/APIClient.swift
  apps/mobile/ios/Polychat/Services/ConversationManager.swift
  apps/mobile/ios/Polychat/Views/ArtifactsView.swift
  apps/mobile/ios/Polychat/Views/ChatSettingsView.swift
  apps/mobile/ios/Polychat/Views/ChatView.swift
  apps/mobile/ios/Polychat/Views/ConversationListView.swift
  apps/mobile/ios/Polychat/Views/ImagePickerView.swift
  apps/mobile/ios/Polychat/Views/ModelSelectorView.swift
Due: prettier

fix(ios): resolve MessageContent type errors and update deprecated API usage
  apps/mobile/ios/Polychat/ContentView.swift
  apps/mobile/ios/Polychat/Intents/ChatIntent.swift
  apps/mobile/ios/Polychat/Services/ConversationManager.swift
  apps/mobile/ios/Polychat/Views/ChatView.swift
  apps/mobile/ios/Polychat/Views/ConversationListView.swift
  apps/mobile/ios/Polychat/Views/ImagePickerView.swift
  apps/mobile/ios/Polychat/Views/ModelSelectorView.swift
  apps/mobile/ios/Polychat/Views/SettingsView.swift
Due: none

fix(ios): resolve MessageContent type errors and update deprecated API usage (#1154)
  apps/mobile/ios/Polychat/ContentView.swift
  apps/mobile/ios/Polychat/Intents/ChatIntent.swift
  apps/mobile/ios/Polychat/Services/ConversationManager.swift
  apps/mobile/ios/Polychat/Views/ChatView.swift
  apps/mobile/ios/Polychat/Views/ConversationListView.swift
  apps/mobile/ios/Polychat/Views/ImagePickerView.swift
  apps/mobile/ios/Polychat/Views/ModelSelectorView.swift
  apps/mobile/ios/Polychat/Views/SettingsView.swift
Due: none

feat(ios): improve settings, API calls, and UI/UX
  apps/mobile/ios/Polychat/Services/APIClient.swift
  apps/mobile/ios/Polychat/Views/ChatView.swift
  apps/mobile/ios/Polychat/Views/ConversationListView.swift
  apps/mobile/ios/Polychat/Views/SettingsView.swift
  apps/mobile/ios/Polychat/Views/WebView.swift
Due: none

fix: issues with aync message polling
  apps/api/src/services/tasks/handlers/AsyncMessagePollingHandler.ts
  apps/api/src/services/tasks/handlers/__test__/AsyncMessagePollingHandler.test.ts
  apps/api/wrangler.jsonc.example
Due: prettier, typescript-check

fix: render for the completed status as well
  apps/app/src/components/Replicate/ReplicatePredictionDetail.tsx
  apps/app/src/types/replicate.ts
Due: prettier, typescript-check

chore: change titles
  apps/app/src/components/Replicate/ReplicatePredictionDetail.tsx
  apps/app/src/components/Replicate/ReplicatePredictions.tsx
Due: prettier, typescript-check

feat(ios): improve settings, API calls, and UI/UX (#1155)
  apps/mobile/ios/Polychat/Services/APIClient.swift
  apps/mobile/ios/Polychat/Views/ChatView.swift
  apps/mobile/ios/Polychat/Views/ConversationListView.swift
  apps/mobile/ios/Polychat/Views/SettingsView.swift
  apps/mobile/ios/Polychat/Views/WebView.swift
Due: none

Implement new background task queue system (#1152)
  apps/api/src/constants/schedules.ts
  apps/api/src/lib/chat/preparation/RequestPreparer.ts
  apps/api/src/lib/conversationManager.ts
  apps/api/src/lib/database/schema.ts
  apps/api/src/lib/modelRouter/promptAnalyser.ts
  apps/api/src/lib/providers/__test__/bedrock.test.ts
  apps/api/src/repositories/TaskRepository.ts
  apps/api/src/routes/chat.ts
  apps/api/src/services/apps/articles/generate-report.ts
  apps/api/src/services/apps/articles/get-details.ts
  apps/api/src/services/apps/articles/get-source-articles.ts
  apps/api/src/services/apps/drawing/get-details.ts
  apps/api/src/services/apps/drawing/list.ts
  apps/api/src/services/apps/notes/list.ts
  apps/api/src/services/apps/replicate/execute.ts
  apps/api/src/services/apps/shared.ts
  apps/api/src/services/completions/__test__/refreshAsyncMessages.test.ts
  apps/api/src/services/completions/getChatCompletion.ts
  apps/api/src/services/completions/refreshAsyncMessages.ts
  apps/api/src/services/dynamic-apps/index.ts
  apps/api/src/services/research/task.ts
  apps/api/src/services/tasks/QueueExecutor.ts
  apps/api/src/services/tasks/TaskExecutor.ts
  apps/api/src/services/tasks/TaskService.ts
  apps/api/src/services/tasks/handlers/AsyncMessagePollingHandler.ts
  apps/api/src/services/tasks/handlers/ReplicatePollingHandler.ts
  apps/api/src/services/tasks/handlers/ResearchPollingHandler.ts
  apps/api/src/services/tasks/handlers/__test__/AsyncMessagePollingHandler.test.ts
  apps/api/src/services/tasks/handlers/__test__/ReplicatePollingHandler.test.ts
  apps/api/src/services/tasks/handlers/__test__/ResearchPollingHandler.test.ts
  apps/api/wrangler.jsonc.example
  apps/app/src/components/Profile/Tabs/ProfileTasksTab.tsx
  apps/app/src/components/Replicate/ReplicatePredictionDetail.tsx
  apps/app/src/components/Replicate/ReplicatePredictions.tsx
  apps/app/src/hooks/useReplicate.ts
  apps/app/src/hooks/useResearchStatus.ts
  apps/app/src/types/replicate.ts
  packages/schemas/src/tasks.ts
Due: prettier, typescript-check

chore: improve agent standards
  AGENTS.md
Due: prettier

Refactor API to use ServiceContext and Repository pattern throughout
  apps/api/AGENTS.md
  apps/api/src/lib/chat/preparation/RequestPreparer.ts
  apps/api/src/lib/chat/validation/validators/GuardrailsValidator.ts
  apps/api/src/lib/conversationManager.ts
  apps/api/src/lib/database/__test__/database.test.ts
  apps/api/src/lib/database/index.ts
  apps/api/src/lib/embedding/__test__/vectorize.test.ts
  apps/api/src/lib/embedding/index.ts
  apps/api/src/lib/embedding/vectorize.ts
  apps/api/src/lib/models/index.ts
  apps/api/src/lib/transcription/workers.ts
  apps/api/src/lib/usageManager.ts
  apps/api/src/middleware/auth.ts
  apps/api/src/routes/auth/index.ts
  apps/api/src/routes/auth/magic-link.ts
  apps/api/src/routes/auth/webauthn.ts
  apps/api/src/services/apps/embeddings/delete.ts
  apps/api/src/services/apps/embeddings/insert.ts
  apps/api/src/services/apps/embeddings/query.ts
  apps/api/src/services/apps/notes/generate-from-media.ts
  apps/api/src/services/apps/retrieval/content-extract.ts
  apps/api/src/services/audio/transcribe.ts
  apps/api/src/services/auth/jwt.ts
  apps/api/src/services/auth/magicLink.ts
  apps/api/src/services/auth/user.ts
  apps/api/src/services/auth/webauthn.ts
  apps/api/src/services/completions/checkChatCompletion.ts
  apps/api/src/services/plans/index.ts
  apps/api/src/services/subscription/index.ts
  apps/api/src/services/tasks/handlers/AsyncMessagePollingHandler.ts
Due: prettier, typescript-check

chore: remove comments and fixes
  apps/api/AGENTS.md
  apps/api/src/lib/chat/preparation/RequestPreparer.ts
  apps/api/src/lib/chat/validation/validators/GuardrailsValidator.ts
  apps/api/src/lib/conversationManager.ts
  apps/api/src/lib/database/__test__/database.test.ts
  apps/api/src/lib/database/index.ts
  apps/api/src/lib/embedding/__test__/vectorize.test.ts
  apps/api/src/lib/embedding/vectorize.ts
  apps/api/src/lib/transcription/workers.ts
  apps/api/src/lib/usageManager.ts
  apps/api/src/middleware/auth.ts
  apps/api/src/services/apps/embeddings/delete.ts
  apps/api/src/services/apps/embeddings/insert.ts
  apps/api/src/services/apps/embeddings/query.ts
  apps/api/src/services/apps/notes/generate-from-media.ts
  apps/api/src/services/apps/retrieval/content-extract.ts
  apps/api/src/services/audio/transcribe.ts
  apps/api/src/services/auth/magicLink.ts
  apps/api/src/services/auth/user.ts
  apps/api/src/services/auth/webauthn.ts
  apps/api/src/services/completions/checkChatCompletion.ts
  apps/api/src/services/subscription/index.ts
Due: prettier, typescript-check

test: Fix test mocks to use RepositoryManager pattern
  apps/api/src/lib/chat/validation/validators/__test__/GuardrailsValidator.test.ts
  apps/api/src/middleware/__test__/auth.test.ts
  apps/api/src/services/audio/__test__/transcribe.test.ts
  apps/api/src/services/plans/__test__/index.test.ts
  fix-tests.sh
Due: prettier, typescript-check

test: Continue RepositoryManager migration for remaining test files
  apps/api/src/lib/__test__/conversationManager.test.ts
  apps/api/src/lib/__test__/memory.test.ts
  apps/api/src/lib/__test__/models.test.ts
  apps/api/src/lib/chat/preparation/__test__/RequestPreparer.test.ts
  apps/api/src/lib/embedding/__test__/index.test.ts
  apps/api/src/lib/transcription/__test__/workers.test.ts
  apps/api/src/services/apps/embeddings/__test__/delete.test.ts
  apps/api/src/services/apps/embeddings/__test__/insert.test.ts
  apps/api/src/services/apps/embeddings/__test__/query.test.ts
  apps/api/src/services/apps/retrieval/__test__/content-extract.test.ts
  apps/api/src/services/auth/__test__/jwt.test.ts
  apps/api/src/services/auth/__test__/user.test.ts
  apps/api/src/services/subscription/__test__/index.test.ts
  apps/api/src/services/tasks/handlers/__test__/AsyncMessagePollingHandler.test.ts
  fix-remaining-tests.sh
Due: prettier, typescript-check

test: Update UsageManager test and restore corrupted test files
  apps/api/src/lib/__test__/memory.test.ts
  apps/api/src/lib/__test__/models.test.ts
  apps/api/src/lib/__test__/usageManager.test.ts
  apps/api/src/lib/chat/preparation/__test__/RequestPreparer.test.ts
  apps/api/src/lib/embedding/__test__/index.test.ts
  apps/api/src/lib/transcription/__test__/workers.test.ts
  apps/api/src/services/apps/embeddings/__test__/delete.test.ts
  apps/api/src/services/apps/embeddings/__test__/insert.test.ts
  apps/api/src/services/apps/embeddings/__test__/query.test.ts
  apps/api/src/services/subscription/__test__/index.test.ts
  apps/api/src/services/tasks/handlers/__test__/AsyncMessagePollingHandler.test.ts
Due: prettier, typescript-check

docs: Add comprehensive test refactoring status documentation
  TEST_REFACTORING_STATUS.md
Due: prettier

test: Complete RepositoryManager migration for remaining test files
  apps/api/src/lib/__test__/models.test.ts
  apps/api/src/lib/transcription/__test__/workers.test.ts
  apps/api/src/services/subscription/__test__/index.test.ts
  fix-all-tests.sh
Due: prettier, typescript-check

test: Fix repository mocks in remaining test files
  apps/api/src/lib/__test__/conversationManager.test.ts
  apps/api/src/lib/__test__/models.test.ts
  apps/api/src/lib/__test__/usageManager.test.ts
  apps/api/src/lib/embedding/__test__/index.test.ts
  apps/api/src/lib/transcription/__test__/workers.test.ts
  apps/api/src/services/completions/__test__/checkChatCompletion.test.ts
Due: prettier, typescript-check

test: Add DB property to remaining test env mocks
  apps/api/src/services/auth/__test__/magicLink.test.ts
Due: prettier, typescript-check

Fix remaining repository pattern test failures
  apps/api/src/lib/__test__/models.test.ts
  apps/api/src/lib/__test__/usageManager.test.ts
  apps/api/src/lib/chat/preparation/__test__/RequestPreparer.test.ts
  apps/api/src/lib/embedding/__test__/index.test.ts
  apps/api/src/lib/transcription/__test__/workers.test.ts
  apps/api/src/services/apps/embeddings/__test__/delete.test.ts
  apps/api/src/services/apps/embeddings/__test__/insert.test.ts
  apps/api/src/services/apps/embeddings/__test__/query.test.ts
  apps/api/src/services/apps/retrieval/__test__/content-extract.test.ts
  apps/api/src/services/auth/__test__/magicLink.test.ts
  apps/api/src/services/auth/__test__/user.test.ts
  apps/api/src/services/auth/__test__/webauthn.test.ts
  apps/api/src/services/subscription/__test__/index.test.ts
  apps/api/src/services/tasks/handlers/__test__/AsyncMessagePollingHandler.test.ts
Due: prettier, typescript-check

chore: removing random files Claude created
  TEST_REFACTORING_STATUS.md
  fix-all-tests.sh
  fix-remaining-tests.sh
  fix-tests.sh
Due: prettier

fix: tests
  apps/api/src/lib/__test__/conversationManager.test.ts
  apps/api/src/lib/__test__/models.test.ts
  apps/api/src/lib/__test__/usageManager.test.ts
  apps/api/src/lib/chat/validation/validators/__test__/GuardrailsValidator.test.ts
  apps/api/src/middleware/__test__/auth.test.ts
  apps/api/src/services/apps/embeddings/__test__/delete.test.ts
  apps/api/src/services/apps/embeddings/__test__/insert.test.ts
  apps/api/src/services/apps/embeddings/__test__/query.test.ts
  apps/api/src/services/apps/retrieval/__test__/content-extract.test.ts
  apps/api/src/services/auth/__test__/magicLink.test.ts
  apps/api/src/services/auth/__test__/user.test.ts
  apps/api/src/services/auth/__test__/webauthn.test.ts
  apps/api/src/services/plans/__test__/index.test.ts
  apps/api/src/services/subscription/__test__/index.test.ts
  apps/api/src/services/tasks/handlers/__test__/AsyncMessagePollingHandler.test.ts
Due: prettier, typescript-check

fix security issues
  apps/api/src/lib/chat/preparation/RequestPreparer.ts
  apps/api/src/lib/transcription/workers.ts
  apps/api/src/services/apps/embeddings/delete.ts
  apps/api/src/services/apps/embeddings/insert.ts
  apps/api/src/services/apps/embeddings/query.ts
  apps/api/src/services/apps/notes/generate-from-media.ts
  apps/api/src/services/apps/retrieval/content-extract.ts
  apps/api/src/services/audio/transcribe.ts
  apps/api/src/services/completions/checkChatCompletion.ts
Due: prettier, typescript-check

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.(yaml|yml)$, \.(md|markdown|mdown)$, \.css$, \.scss$
  typescript-check: any of: \.(ts|mts|cts)$, \.tsx$
