Repository nicholasgriffintn/ai-platform: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typescript-check

prettier:
  name: prettier
  entry: pnpm format
  language: system
  pass_filenames: false

typescript-check:
  name: typescript-check
  entry: pnpm typecheck
  language: system
  pass_filenames: false

fix(desktop): let the desktop reach the API, and unbreak the web build
  apps/api/src/constants/app.ts
  apps/api/src/index.ts
  apps/api/src/lib/http/origins.test.ts
  apps/api/src/lib/http/origins.ts
  apps/app/src/pages/shared/[share_id].tsx
  apps/desktop/src-tauri/src/main.rs
Due: prettier, typescript-check

fix(desktop): sign the webview's API calls and give the thread a window
  apps/api/src/lib/providers/models/device-models.test.ts
  apps/api/src/lib/providers/models/index.ts
  apps/app/src/components/ConversationThread/ConversationPage.tsx
  apps/desktop/src-tauri/src/main.rs
  apps/desktop/src/App.tsx
  apps/desktop/src/hooks/useDesktopSession.ts
  apps/desktop/src/lib/desktop-backend.ts
  packages/component-conversation/package.json
  packages/component-conversation/src/ConversationSurface.tsx
  packages/component-conversation/src/Thread/ConversationHeader.tsx
  packages/component-conversation/src/Thread/ConversationSurface.tsx
  packages/component-conversation/src/index.ts
  packages/schemas/src/model-selection.ts
  packages/schemas/src/model-surface.test.ts
  pnpm-lock.yaml
Due: prettier, typescript-check

fix(desktop): take device models from the runtimes and keep their runs local
  apps/api/src/data-model/models/index.ts
  apps/api/src/data-model/models/providers/index.json
  apps/api/src/data-model/models/providers/lmstudio.json
  apps/api/src/data-model/models/providers/ollama.json
  apps/api/src/lib/providers/models/device-models.test.ts
  apps/api/src/lib/providers/models/index.test.ts
  apps/api/src/lib/providers/models/index.ts
  apps/api/src/routes/models.ts
  apps/api/src/services/models/index.ts
  apps/api/src/services/models/readiness.ts
  apps/app/src/components/Core/PageShell.tsx
  apps/desktop/src/lib/device-models.ts
  apps/desktop/src/main.tsx
  packages/component-models/src/Selector/ModelOption.tsx
  packages/library-chat/src/conversation-storage-policy.test.ts
  packages/library-chat/src/conversation-storage-policy.ts
  packages/library-chat/src/device-models.test.ts
  packages/library-chat/src/device-models.ts
  packages/library-chat/src/index.ts
  packages/library-chat/src/model-surface.ts
  packages/library-client/src/fetch-wrapper.test.ts
  packages/library-client/src/fetch-wrapper.ts
  packages/library-client/src/services/user-service.ts
  packages/library-react/src/AppInitializer.test.tsx
  packages/library-react/src/AppInitializer.tsx
  packages/library-react/src/chat/device-run.test.ts
  packages/library-react/src/chat/device-run.ts
  packages/library-react/src/chat/useConversationStorage.ts
  packages/library-react/src/chat/useModels.ts
  packages/library-react/src/chat/useSelectedModelRunsOnDevice.ts
  packages/library-react/src/chat/useStreamingResponse.ts
  packages/library-react/src/chat/useWebLLMModels.ts
  packages/library-react/src/hooks/useResponsiveSidebar.ts
  packages/schemas/src/model-lineup.ts
  packages/schemas/src/model-selection.ts
  packages/schemas/src/model-surface.test.ts
  packages/schemas/src/models.ts
Due: prettier, typescript-check

fix(desktop): correct the desktop-to-API integration
  .agents/verification/pending/2026-09-07-desktop-session-and-images.md
  .changeset/desktop-session-and-egress.md
  apps/desktop/src-tauri/src/main.rs
  apps/desktop/src-tauri/tauri.conf.json
  apps/desktop/src-tauri/tauri.dev.conf.json
  apps/desktop/src/hooks/useDesktopSession.ts
  apps/desktop/src/lib/api-origin.test.ts
  apps/desktop/src/lib/api-origin.ts
  apps/desktop/src/lib/desktop-backend.ts
  apps/desktop/src/lib/desktop-csp.test.ts
  apps/desktop/src/lib/run-failures.ts
  apps/desktop/src/lib/session-refresh.test.ts
  apps/desktop/src/lib/session-refresh.ts
  packages/schemas/src/desktop-runtimes.ts
  packages/schemas/src/navigation.test.ts
  packages/schemas/src/navigation.ts
Due: prettier, typescript-check

refactor(desktop): discover pages from their own directories
  .changeset/desktop-page-registry.md
  apps/desktop/src/pages/chat/page.tsx
  apps/desktop/src/pages/chat/routes.ts
  apps/desktop/src/pages/not-found/page.tsx
  apps/desktop/src/pages/not-found/routes.ts
  apps/desktop/src/pages/registry.ts
  apps/desktop/src/pages/root/page.tsx
  apps/desktop/src/pages/root/routes.ts
  apps/desktop/src/route-definitions.test.ts
  apps/desktop/src/route-definitions.ts
  apps/desktop/src/routes.tsx
Due: prettier, typescript-check

feat(desktop): serve the Attention place from shared components
  .agents/verification/pending/2026-09-07-desktop-attention-place.md
  .changeset/share-the-attention-place.md
  apps/app/src/pages/chat/attention.tsx
  apps/app/src/pages/work/attention.tsx
  apps/desktop/src/pages/attention/page.tsx
  apps/desktop/src/pages/attention/routes.ts
  apps/desktop/src/route-definitions.test.ts
  packages/component-shell/src/Attention/AttentionPage.tsx
  packages/component-shell/src/index.ts
Due: prettier, typescript-check

feat(desktop): announce attention through the operating system
  .agents/verification/pending/2026-09-07-desktop-attention-notifications.md
  .changeset/desktop-attention-notifications.md
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/src/announcements.rs
  apps/desktop/src-tauri/src/main.rs
  apps/desktop/src-tauri/src/store.rs
  apps/desktop/src/DesktopShellHost.tsx
  apps/desktop/src/hooks/useAttentionNotifier.ts
  apps/desktop/src/lib/attention-announcements.test.ts
  apps/desktop/src/lib/attention-announcements.ts
  apps/desktop/src/lib/desktop-backend.ts
  packages/library-react/src/hooks/useWorkAttention.ts
Due: prettier, typescript-check

feat(shell): sign out from the sidebar in both hosts
  .agents/verification/pending/2026-09-07-sign-out-from-the-shell.md
  .changeset/sign-out-from-the-shell.md
  apps/app/src/components/Core/WebShellHost.tsx
  apps/desktop/src/App.tsx
  apps/desktop/src/DesktopShellHost.tsx
  apps/desktop/src/hooks/useDesktopSession.ts
  packages/component-navigation/src/Sidebar/SidebarSettingsPopover.tsx
  packages/component-navigation/src/index.test.tsx
  packages/component-shell/src/Host/ShellHostContext.tsx
  packages/component-shell/src/Sidebar/SidebarSettingsPopover.tsx
Due: prettier, typescript-check

docs(architecture): record where the Chat places now live
  .agents/skills/polychat-setup/references/architecture/context.md
Due: prettier

feat(desktop): one window, opened by link
  .agents/verification/pending/2026-09-07-desktop-one-window-opened-by-link.md
  .changeset/desktop-one-window-opened-by-link.md
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/src/links.rs
  apps/desktop/src-tauri/src/main.rs
  apps/desktop/src-tauri/tauri.conf.json
  apps/desktop/src/DesktopShellHost.tsx
  apps/desktop/src/hooks/useDeepLinkNavigation.ts
  apps/desktop/src/lib/deep-links.test.ts
  apps/desktop/src/lib/deep-links.ts
Due: prettier, typescript-check

chore(wip) automated review
  .agents/verification/2026-09-05-local-evidence.md
  .agents/verification/pending/2026-09-05-project-delivery-policy.md
  .agents/verification/pending/2026-09-05-project-environment-setup.md
  apps/api/src/services/github/__test__/connections.test.ts
  apps/api/src/services/github/__test__/manage-connections.test.ts
  apps/api/src/services/github/connection-parser.ts
  apps/api/src/services/github/manage-connections.ts
  apps/app/tests/e2e/features/profile.spec.ts
  apps/app/tests/e2e/features/sandbox-cache.spec.ts
  apps/app/tests/e2e/features/sandbox-delivery.spec.ts
  apps/app/tests/e2e/fixtures/persona-provisioning.ts
  apps/app/tests/e2e/fixtures/polychat-test.ts
  apps/app/tests/e2e/fixtures/sandbox-api.ts
  apps/app/tests/e2e/page-objects/ProjectEnvironmentPage.ts
  apps/app/tests/e2e/page-objects/WorkPage.ts
  apps/app/tests/e2e/runtime/sandbox-runtime.mjs
  apps/app/tests/e2e/runtime/sandbox/Dockerfile
  apps/app/tests/e2e/runtime/sandbox/patch-container-server.mjs
  apps/app/tests/e2e/runtime/server.mjs
Due: prettier, typescript-check

refactor(desktop): announce from the shared task inbox
  .agents/verification/pending/2026-09-07-desktop-inbox-notifications.md
  .changeset/desktop-inbox-notifications.md
  apps/desktop/src-tauri/src/main.rs
  apps/desktop/src-tauri/src/store.rs
  apps/desktop/src/DesktopShellHost.tsx
  apps/desktop/src/hooks/useAttentionNotifier.ts
  apps/desktop/src/hooks/useInboxNotifier.ts
  apps/desktop/src/lib/attention-announcements.test.ts
  apps/desktop/src/lib/attention-announcements.ts
  apps/desktop/src/lib/desktop-backend.ts
  apps/desktop/src/lib/inbox-announcements.test.ts
  apps/desktop/src/lib/inbox-announcements.ts
  packages/library-react/src/hooks/useTaskInbox.ts
  packages/library-react/src/hooks/useTaskNotifications.ts
  packages/library-react/src/hooks/useWorkAttention.ts
  packages/library-react/src/index.tsx
  packages/schemas/src/task-notifications.test.ts
  packages/schemas/src/task-notifications.ts
Due: prettier, typescript-check

fix(desktop): handle a refused deep link subscription
  .changeset/desktop-deep-link-subscription.md
  apps/desktop/src/hooks/useDeepLinkNavigation.ts
  apps/desktop/src/lib/deep-links.test.ts
  apps/desktop/src/lib/deep-links.ts
Due: prettier, typescript-check

chore(wip): automated verification
  .agents/verification/2026-09-05-local-evidence.md
  .agents/verification/pending/2026-09-05-project-workbench-preview-feedback.md
  apps/app/tests/e2e/features/project-tasks.spec.ts
  apps/app/tests/e2e/features/sandbox-approvals.spec.ts
  apps/app/tests/e2e/features/sandbox-controls.spec.ts
  apps/app/tests/e2e/features/sandbox-layout.spec.ts
  apps/app/tests/e2e/features/sandbox-preview.spec.ts
  apps/app/tests/e2e/features/sandbox-services.spec.ts
  apps/app/tests/e2e/fixtures/sandbox-api.ts
  apps/app/tests/e2e/fixtures/sandbox-environment.ts
  apps/app/tests/e2e/page-objects/ProjectTasksPage.ts
  apps/app/tests/e2e/page-objects/WorkbenchPage.ts
  apps/app/tests/e2e/runtime/server.mjs
  apps/app/tests/e2e/support/network-conditions.ts
  packages/component-workspaces/src/ProjectWorkbench/ProjectWorkbenchRunControls.tsx
  packages/component-workspaces/src/ProjectWorkbench/ProjectWorkbenchShell.tsx
Due: prettier, typescript-check

fix(desktop): keep credentials out of transport failure messages
  .changeset/desktop-session-and-egress.md
  apps/desktop/src-tauri/src/egress.rs
  apps/desktop/src-tauri/src/main.rs
Due: prettier

feat(shell): put the notification inbox on the Attention place
  .agents/verification/pending/2026-09-07-shared-task-inbox.md
  .changeset/shared-task-inbox.md
  apps/desktop/src/hooks/useInboxNotifier.ts
  packages/component-shell/src/Attention/AttentionPage.tsx
  packages/library-react/src/hooks/useTaskInbox.ts
  packages/library-react/src/index.tsx
Due: prettier, typescript-check

fix(desktop): let the application bundle again
  .agents/verification/pending/2026-09-07-desktop-bundles.md
  .changeset/desktop-bundles-again.md
  apps/desktop/src-tauri/icons/32x32.png
  apps/desktop/src-tauri/icons/icon.icns
  apps/desktop/src-tauri/icons/icon.ico
  apps/desktop/src-tauri/tauri.conf.json
Due: prettier

refactor(desktop): name the chat place list for what it holds
  apps/desktop/src/route-definitions.test.ts
  apps/desktop/src/route-definitions.ts
Due: prettier, typescript-check

fix(desktop): build and format against the bumped crates
  .changeset/desktop-builds-on-bumped-crates.md
  apps/app/tests/e2e/features/sandbox-services.spec.ts
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/src/links.rs
  apps/desktop/src-tauri/src/main.rs
  apps/desktop/src-tauri/src/store.rs
Due: prettier, typescript-check

Potential fix for pull request finding 'CodeQL / Cleartext logging of sensitive information'
  apps/desktop/src-tauri/src/main.rs
Due: none

Potential fix for pull request finding 'CodeQL / Cleartext logging of sensitive information'
  apps/desktop/src-tauri/src/main.rs
  apps/desktop/src-tauri/src/secrets.rs
Due: none

fix: desktop build errors
  .agents/verification/pending/2026-09-07-desktop-attention-notifications.md
  apps/desktop/src-tauri/src/main.rs
  apps/desktop/src-tauri/src/secrets.rs
Due: prettier

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.(yaml|yml)$, \.(md|markdown|mdown)$, \.css$, \.scss$
  typescript-check: any of: \.(ts|mts|cts)$, \.tsx$
