Repository nicholasgriffintn/ai-platform: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typescript-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: pnpm format
        language: system
        types_or: [javascript, jsx, ts, tsx, json, yaml, markdown, css, scss]
        pass_filenames: false
      - id: typescript-check
        name: typescript-check
        entry: pnpm typecheck
        language: system
        types_or: [ts, tsx]
        pass_filenames: false
  - repo: local
    hooks:
      - id: trufflehog
        name: TruffleHog
        description: Detect secrets in your data.
        entry: bash -c 'docker run -v "$(pwd):/workdir" --rm us-docker.pkg.dev/thog-artifacts/public/scanner:latest git main HEAD /workdir'
        language: system
        stages: ["pre-commit", "pre-push"]

docs: add app agent instructions
  apps/AGENTS.md
Due: prettier

Improve iOS conversation branching
  apps/mobile/ios/Polychat/Models/APIModels.swift
  apps/mobile/ios/Polychat/Models/ChatRequestMessage.swift
  apps/mobile/ios/Polychat/Services/APIClient.swift
  apps/mobile/ios/Polychat/Services/APIClientProtocols.swift
  apps/mobile/ios/Polychat/Services/ConversationManager.swift
  apps/mobile/ios/Polychat/Views/Chat/MessageBubble.swift
  apps/mobile/ios/PolychatTests/ServiceStoreTests.swift
  apps/mobile/ios/PolychatTests/TestSupport.swift
Due: none

chore: further refactoring
  apps/api/src/lib/http/auth.ts
  apps/api/src/lib/http/routeBuilder.ts
  apps/api/src/routes/__test__/dynamic-apps.test.ts
  apps/api/src/routes/admin.ts
  apps/api/src/routes/apps/articles.ts
  apps/api/src/routes/apps/canvas.ts
  apps/api/src/routes/apps/drawing.ts
  apps/api/src/routes/apps/embeddings.ts
  apps/api/src/routes/apps/index.ts
  apps/api/src/routes/apps/notes.ts
  apps/api/src/routes/apps/podcasts.ts
  apps/api/src/routes/apps/replicate.ts
  apps/api/src/routes/apps/sandbox/connections.ts
  apps/api/src/routes/apps/sandbox/runs-lifecycle.ts
  apps/api/src/routes/apps/shared.ts
  apps/api/src/routes/apps/strudel.ts
  apps/api/src/routes/audio.ts
  apps/api/src/routes/auth/magic-link.ts
  apps/api/src/routes/dynamic-apps.ts
  apps/api/src/routes/models.ts
  apps/api/src/routes/plans.ts
  apps/api/src/routes/realtime.ts
  apps/api/src/routes/stripe.ts
  apps/api/src/routes/tasks.ts
  apps/api/src/routes/tools.ts
  apps/api/src/routes/uploads.ts
  apps/api/src/routes/user/apiKeys.ts
  apps/api/src/services/apps/embeddings/insert.ts
  apps/api/src/services/dynamic-apps/__test__/index.test.ts
  apps/api/src/services/dynamic-apps/index.ts
  apps/api/src/types/chat.ts
Due: prettier, typescript-check

chore: adding repo level agents doc
  AGENTS.md
Due: prettier

fix: add citation serialisation
  apps/app/src/lib/__test__/messages.test.ts
  apps/app/src/lib/api/services/chat-service.test.ts
  apps/app/src/lib/messages.ts
Due: prettier, typescript-check

Add conversation branching on iOS and persist branch metadata (#1838)
  apps/app/src/lib/__test__/messages.test.ts
  apps/app/src/lib/api/services/chat-service.test.ts
  apps/app/src/lib/messages.ts
  apps/mobile/ios/Polychat/Models/APIModels.swift
  apps/mobile/ios/Polychat/Models/ChatRequestMessage.swift
  apps/mobile/ios/Polychat/Services/APIClient.swift
  apps/mobile/ios/Polychat/Services/APIClientProtocols.swift
  apps/mobile/ios/Polychat/Services/ConversationManager.swift
  apps/mobile/ios/Polychat/Views/Chat/MessageBubble.swift
  apps/mobile/ios/PolychatTests/ServiceStoreTests.swift
  apps/mobile/ios/PolychatTests/TestSupport.swift
Due: prettier, typescript-check

chore: improve testing setup
  .github/workflows/test.yml
  apps/api/package.json
  apps/api/src/lib/database/__test__/database.test.ts
  apps/api/vitest.config.ts
  apps/app/package.json
  apps/app/src/components/LoadingSpinner/LoadingSpinner.test.tsx
  apps/app/tests/e2e/features/auth.spec.ts
  apps/app/tests/e2e/smoke/basic.spec.ts
  apps/app/vitest.config.ts
  apps/metrics/package.json
  apps/sandbox-worker/package.json
  apps/training/package.json
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  vitest.config.ts
Due: prettier, typescript-check

chore: improve tests
  apps/api/src/lib/github/signature.test.ts
  apps/api/src/middleware/__test__/requirePlan.test.ts
  apps/app/src/lib/markdown.test.ts
  apps/app/src/lib/markdown.ts
  apps/mobile/ios/Polychat/Models/APIModels.swift
  apps/mobile/ios/Polychat/Services/ConversationManager.swift
  apps/sandbox-worker/src/lib/__test__/command-approval.test.ts
  apps/training/src/utils/http.test.ts
  apps/training/src/utils/json.test.ts
Due: prettier, typescript-check

Improve testing (#1839)
  .github/workflows/test.yml
  apps/api/package.json
  apps/api/src/lib/database/__test__/database.test.ts
  apps/api/src/lib/github/signature.test.ts
  apps/api/src/middleware/__test__/requirePlan.test.ts
  apps/api/vitest.config.ts
  apps/app/package.json
  apps/app/src/components/LoadingSpinner/LoadingSpinner.test.tsx
  apps/app/src/lib/markdown.test.ts
  apps/app/src/lib/markdown.ts
  apps/app/tests/e2e/features/auth.spec.ts
  apps/app/tests/e2e/smoke/basic.spec.ts
  apps/app/vitest.config.ts
  apps/metrics/package.json
  apps/mobile/ios/Polychat/Models/APIModels.swift
  apps/mobile/ios/Polychat/Services/ConversationManager.swift
  apps/sandbox-worker/package.json
  apps/sandbox-worker/src/lib/__test__/command-approval.test.ts
  apps/training/package.json
  apps/training/src/utils/http.test.ts
  apps/training/src/utils/json.test.ts
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  vitest.config.ts
Due: prettier, typescript-check

chore: add models sync workflow
  .github/workflows/sync-models-dev.yml
Due: prettier

fix: ios issue
  apps/mobile/ios/Polychat/Services/ConversationManager.swift
Due: none

chore: update ios workflows and remove parallel testing
  .github/workflows/ios.yml
  scripts/xcodebuild-mobile.sh
Due: prettier

Potential fix for pull request finding 'CodeQL / Incomplete string escaping or encoding'
  apps/api/src/services/apps/connectors/executors/outlook.ts
Due: prettier, typescript-check

chore: adjusting
  apps/api/src/lib/providers/capabilities/connectors/index.ts
  apps/api/src/lib/providers/capabilities/messaging/__test__/credentials.test.ts
  apps/api/src/lib/providers/capabilities/messaging/delivery.ts
  apps/api/src/services/apps/connectors/__test__/connectors.test.ts
  apps/api/src/services/apps/connectors/index.ts
  apps/api/src/services/apps/recipes/__test__/execution.test.ts
  apps/api/src/services/apps/recipes/__test__/recipes.test.ts
  apps/api/src/services/apps/recipes/__test__/scheduler.test.ts
  apps/api/src/services/apps/recipes/catalog.ts
  apps/api/src/services/apps/recipes/execution.ts
  apps/api/src/services/apps/recipes/index.ts
  apps/api/src/services/apps/recipes/scheduler.ts
  apps/api/src/services/functions/__test__/recipe_connectors.test.ts
  apps/api/src/services/functions/recipe_connectors.ts
  apps/api/src/services/tasks/handlers/RecipeExecutionHandler.ts
  apps/api/src/services/tasks/handlers/__test__/RecipeExecutionHandler.test.ts
  apps/api/src/services/webhooks/__test__/sms.test.ts
  apps/api/src/services/webhooks/sms.ts
  packages/schemas/src/apps.ts
Due: prettier, typescript-check

chore: further enhancements
  apps/api/.dev.vars.example
  apps/api/src/constants/app.ts
  apps/api/src/index.ts
  apps/api/src/lib/providers/capabilities/connectors/index.ts
  apps/api/src/lib/providers/capabilities/messaging/__test__/credentials.test.ts
  apps/api/src/lib/providers/capabilities/messaging/delivery.ts
  apps/api/src/lib/providers/capabilities/messaging/providers/AwsSmsProvider.ts
  apps/api/src/lib/providers/capabilities/messaging/providers/__test__/AwsSmsProvider.test.ts
  apps/api/src/middleware/auth.ts
  apps/api/src/routes/__test__/qr.test.ts
  apps/api/src/routes/qr.ts
  apps/api/src/services/apps/connectors/__test__/connectors.test.ts
  apps/api/src/services/apps/connectors/executors/__test__/cloudflare.test.ts
  apps/api/src/services/apps/connectors/executors/__test__/devin.test.ts
  apps/api/src/services/apps/connectors/executors/__test__/ramp.test.ts
  apps/api/src/services/apps/connectors/executors/__test__/supabase.test.ts
  apps/api/src/services/apps/connectors/executors/__test__/webflow.test.ts
  apps/api/src/services/apps/connectors/executors/cloudflare.ts
  apps/api/src/services/apps/connectors/executors/devin.ts
  apps/api/src/services/apps/connectors/executors/http.ts
  apps/api/src/services/apps/connectors/executors/ramp.ts
  apps/api/src/services/apps/connectors/executors/supabase.ts
  apps/api/src/services/apps/connectors/executors/webflow.ts
  apps/api/src/services/apps/connectors/operations.ts
  apps/api/src/services/apps/recipes/__test__/recipes.test.ts
  apps/api/src/services/apps/recipes/catalog.ts
  apps/api/src/services/functions/__test__/qr.test.ts
  apps/api/src/services/functions/__test__/recipe_connectors.test.ts
  apps/api/src/services/functions/qr.ts
  apps/api/src/services/functions/recipe_connectors.ts
  apps/api/src/services/webhooks/__test__/sms.test.ts
  apps/api/src/types/shared.ts
  apps/api/src/utils/__test__/messages.test.ts
  apps/api/src/utils/qr.ts
  packages/schemas/src/apps.ts
Due: prettier, typescript-check

chore: add qr flow
  apps/api/.dev.vars.example
  apps/api/src/constants/app.ts
  apps/api/src/index.ts
  apps/api/src/lib/providers/capabilities/messaging/__test__/credentials.test.ts
  apps/api/src/lib/providers/capabilities/messaging/delivery.ts
  apps/api/src/lib/providers/capabilities/messaging/providers/AwsSmsProvider.ts
  apps/api/src/lib/providers/capabilities/messaging/providers/__test__/AwsSmsProvider.test.ts
  apps/api/src/middleware/auth.ts
  apps/api/src/routes/__test__/qr.test.ts
  apps/api/src/routes/qr.ts
  apps/api/src/services/apps/connectors/__test__/connectors.test.ts
  apps/api/src/services/apps/recipes/catalog.ts
  apps/api/src/services/functions/__test__/qr.test.ts
  apps/api/src/services/functions/__test__/recipe_connectors.test.ts
  apps/api/src/services/functions/qr.ts
  apps/api/src/services/webhooks/__test__/sms.test.ts
  apps/api/src/utils/__test__/messages.test.ts
  apps/api/src/utils/messages.ts
  apps/api/src/utils/qr.ts
Due: prettier, typescript-check

chore: update sentry config
  apps/api/src/utils/__test__/sentry.test.ts
  apps/api/src/utils/sentry.ts
Due: prettier, typescript-check

chore: adjustments
  apps/app/src/components/Apps/Recipes/useRecipesPageController.ts
  apps/app/src/components/Home/chatModes.test.ts
  apps/app/src/components/Home/chatModes.ts
  apps/app/src/components/Home/useHomeChatModeConfig.test.tsx
  apps/app/src/components/Home/useHomeChatModeConfig.tsx
  apps/app/src/lib/home-chat-modes/__test__/conversation-mode.test.ts
  apps/app/src/lib/home-chat-modes/conversation-mode.ts
  apps/app/src/pages/apps/recipes/index.tsx
  apps/app/src/types/chat.ts
Due: prettier, typescript-check

chore: update sentry tests
  apps/api/src/services/apps/connectors/__test__/connectors.test.ts
  apps/api/src/utils/__test__/sentry.test.ts
Due: prettier, typescript-check

chore: update login modal
  apps/app/src/components/Auth/SignInWithAppleWebButton.tsx
  apps/app/src/components/Models/LoginModal.tsx
Due: prettier, typescript-check

chore: update recipes link
  apps/app/src/components/Sidebar/AppsSidebarContent.tsx
Due: prettier, typescript-check

fix: various fixes and enhancements to recipes
  apps/api/src/lib/chat/__test__/tool-results.test.ts
  apps/api/src/lib/chat/core/ChatOrchestrator.ts
  apps/api/src/lib/chat/core/__test__/ChatOrchestrator.test.ts
  apps/api/src/lib/chat/tool-results.ts
  apps/api/src/services/apps/recipes/__test__/recipes.test.ts
  apps/api/src/services/apps/recipes/catalog.ts
  apps/api/src/services/apps/recipes/index.ts
  apps/api/src/services/functions/__test__/recipe_connectors.test.ts
  apps/api/src/services/functions/index.ts
  apps/api/src/services/functions/recipe_connectors.ts
  apps/api/src/types/chat.ts
  apps/app/src/components/Apps/Recipes/useRecipesPageController.ts
  apps/app/src/components/ConversationThread/ConversationPage.tsx
  apps/app/src/components/ConversationThread/index.tsx
  apps/app/src/components/Home/HomeConversationThread.tsx
  apps/app/src/components/Home/HomePage.tsx
  apps/app/src/lib/__test__/messages.test.ts
  apps/app/src/lib/api/services/chat-service.test.ts
  apps/app/src/lib/messages.ts
  apps/app/src/lib/recipe-chat-context.test.ts
  apps/app/src/lib/recipe-chat-context.ts
  apps/app/src/types/chat.ts
  packages/schemas/src/apps.ts
  packages/schemas/src/chat.ts
  packages/schemas/src/shared.ts
Due: prettier, typescript-check

choreL recipes adjustments
  apps/api/src/routes/apps/recipes.ts
  apps/api/src/services/apps/recipes/__test__/recipes.test.ts
  apps/api/src/services/apps/recipes/catalog.ts
  apps/api/src/services/apps/recipes/index.ts
  apps/app/src/components/Apps/Recipes/RecipeCard.tsx
  apps/app/src/lib/recipes.ts
Due: prettier, typescript-check

fix: only setup sms if it is configured
  apps/api/src/services/apps/recipes/__test__/recipes.test.ts
  apps/api/src/services/apps/recipes/index.ts
  apps/api/src/services/apps/recipes/notificationCapabilities.ts
  apps/api/src/services/apps/recipes/toolContext.ts
  apps/api/src/services/functions/__test__/recipe_connectors.test.ts
  apps/api/src/services/functions/index.ts
  apps/api/src/services/functions/recipe_connectors.ts
  apps/api/src/services/functions/recipes/configure_recipe.ts
  apps/api/src/services/functions/recipes/get_recipe.ts
  apps/api/src/services/functions/recipes/trigger_recipe.ts
  apps/api/src/services/functions/recipes/use_recipe_connector.ts
Due: prettier, typescript-check

fix: various fixes and enhancements
  apps/api/src/lib/chat/__test__/streaming.test.ts
  apps/api/src/lib/chat/__test__/tool-results.test.ts
  apps/api/src/lib/chat/streaming.ts
  apps/api/src/lib/chat/tool-results.ts
  apps/api/src/lib/formatter/__test__/messages.test.ts
  apps/api/src/lib/formatter/messages.ts
  apps/api/src/services/apps/connectors/executors/__test__/http.test.ts
  apps/api/src/services/apps/connectors/executors/__test__/posthog.test.ts
  apps/api/src/services/apps/connectors/executors/http.ts
  apps/api/src/services/apps/connectors/executors/posthog.ts
  apps/api/src/services/apps/recipes/catalog.ts
  apps/api/src/services/apps/recipes/index.ts
  apps/api/src/services/apps/recipes/toolContext.ts
  apps/api/src/services/completions/__test__/createChatCompletions.test.ts
  apps/api/src/services/completions/createChatCompletions.ts
  apps/api/src/services/functions/__test__/recipe_connectors.test.ts
  apps/api/src/services/functions/recipes/use_recipe_connector.ts
  apps/app/src/lib/api/services/chat-service.test.ts
  apps/app/src/lib/api/services/chat-service.ts
Due: prettier, typescript-check

fix: formatting
  apps/api/src/services/apps/recipes/index.ts
Due: prettier, typescript-check

chore: adjust
  apps/api/src/services/apps/recipes/index.ts
Due: prettier, typescript-check

chore: update tests
  apps/api/src/services/apps/recipes/__test__/recipes.test.ts
Due: prettier, typescript-check

chore: add context and initial adr
  AGENTS.md
  CONTEXT.md
  docs/adr/0001-overall-platform-architecture.md
Due: prettier

chore: various changes
  apps/api/src/lib/providers/capabilities/chat/providers/polly.ts
  apps/api/src/services/apps/recipes/execution.ts
  apps/api/src/services/apps/recipes/toolContext.ts
  apps/api/src/services/functions/recipes/get_recipe.ts
  apps/api/src/types/chat.ts
  apps/api/src/utils/__test__/sentry.test.ts
  apps/api/src/utils/sentry.ts
  apps/app/src/components/ConversationThread/ChatInput/ChatInput.test.tsx
  apps/app/src/components/ConversationThread/ChatInput/ComposerCommandSurface.test.tsx
  apps/app/src/components/ConversationThread/ChatInput/ComposerCommandSurface.tsx
  apps/app/src/components/ConversationThread/ChatInput/TokenizedComposerInput.test.tsx
  apps/app/src/components/ConversationThread/ChatInput/TokenizedComposerInput.tsx
  apps/app/src/components/ConversationThread/ChatInput/index.tsx
  apps/app/src/components/ConversationThread/ChatInput/useComposerCommandActions.tsx
  apps/app/src/components/ConversationThread/ChatInput/useComposerCommandController.test.tsx
  apps/app/src/components/ConversationThread/ChatInput/useComposerCommandController.ts
  apps/app/src/components/ConversationThread/ConversationThread.test.tsx
  apps/app/src/components/ConversationThread/index.tsx
  apps/app/src/components/ConversationThread/useAssistantActionSubmit.test.tsx
  apps/app/src/components/ConversationThread/useAssistantActionSubmit.ts
  apps/app/src/hooks/useAssistantActionCatalog.ts
  apps/app/src/lib/__test__/assistant-action-execution.test.ts
  apps/app/src/lib/__test__/assistant-actions.test.ts
  apps/app/src/lib/__test__/composer-commands.test.ts
  apps/app/src/lib/api/services/chat-service.test.ts
  apps/app/src/lib/assistant-action-execution.ts
  apps/app/src/lib/assistant-action-flow.ts
  apps/app/src/lib/assistant-action-launch.ts
  apps/app/src/lib/assistant-actions.ts
  apps/app/src/lib/composer-commands.ts
  apps/app/src/state/stores/chatStore.ts
  apps/app/src/types/chat.ts
  packages/schemas/src/apps.ts
  packages/schemas/src/assistant-actions.ts
  packages/schemas/src/chat-mode.ts
  packages/schemas/src/chat.ts
  packages/schemas/src/index.ts
Due: prettier, typescript-check

chore: update types
  apps/app/src/lib/assistant-action-launch.ts
Due: prettier, typescript-check

chore: refactoring
  apps/api/src/services/agents/agentCrud.ts
  apps/app/src/components/Apps/Recipes/useRecipeWorkflows.ts
  apps/app/src/hooks/__test__/useAgentForm.test.tsx
  apps/app/src/hooks/__test__/useAgentToolDefaults.test.tsx
  apps/app/src/hooks/useAgentForm.ts
  apps/app/src/hooks/useAgentToolDefaults.ts
  apps/app/src/hooks/useAgents.ts
  apps/app/src/hooks/useAssistantActionCatalog.ts
  apps/app/src/lib/__test__/assistant-action-execution.test.ts
  apps/app/src/lib/__test__/assistant-action-flow.test.ts
  apps/app/src/lib/__test__/assistant-action-launch.test.ts
  apps/app/src/lib/__test__/assistant-actions.test.ts
  apps/app/src/lib/api/api-service.ts
  apps/app/src/lib/api/services/agent-service.ts
  apps/app/src/lib/api/services/chat-service.test.ts
  apps/app/src/lib/api/services/chat-service.ts
  apps/app/src/lib/assistant-action-execution.ts
  apps/app/src/lib/assistant-action-launch.ts
  apps/app/src/lib/assistant-action-submit.ts
  apps/app/src/lib/assistant-actions.ts
  packages/schemas/src/agents.ts
  packages/schemas/src/assistant-actions.ts
  packages/schemas/src/chat.ts
  packages/schemas/src/index.ts
  packages/schemas/src/tools.ts
Due: prettier, typescript-check
